/*
Font: Google Front Hind
*/
@import "base/font";

/*
Colors

Weight: 6

Styleguide Colors
*/
@import "colors/_colors";

/*
Utils assets
*/
@import "utils/mixins";
@import "utils/variables";
@import "utils/animations";
@import "utils/generics";

/*
Bootstrap styles
*/
@import "base/bootstrap";

/*
Typography

Weight: 5

Styleguide Typography
*/
@import "typography/_typography";

/*
Icons

Weight: 4

Styleguide Icons
*/
@import "icons/_icons";

/*
Components

Weight: 3

Styleguide Components
*/
@import "components/_components";

/*
Patterns

Weight: 2

Styleguide Patterns
*/
@import "patterns/_patterns";

/*
Structures

Not yet available.

Weight: 1

Styleguide Structures
*/
@import "structures/_structures";
