@charset "UTF-8";

/*
Colors
*/
@import "colors/colors";

/*
Utils assets
*/
@import "utils/mixins";
@import "utils/variables";
@import "utils/animations";

/*
Bootstrap styles
*/
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*
Typography

Weight: 5

Styleguide Typography
*/
@import "typography/typography";

/*
Icons

Weight: 4

Styleguide Icons
*/
@import "icons/icons";

/*
Components

Weight: 3

Styleguide Components
*/
@import "components/breadcrumb";
@import "components/buttons";
@import "components/dropdown";
@import "components/forms";
@import "components/hero-banner";
@import "components/label";
@import "components/modal";
@import "components/page-header";
@import "components/popover";
@import "components/progress-bar";
@import "components/tables";
@import "components/tooltip";

/*
Patterns

Weight: 2

Styleguide Patterns
*/
@import "patterns/experts";
@import "patterns/generation-bar";
@import "patterns/marketing-checklist";
@import "patterns/navbar";
@import "patterns/review-left-menu";

/*
Structures

Weight: 1

Styleguide Structures
*/
@import "structures/landing";
@import "structures/static";
@import "structures/app";

/*
Layouts specifics
*/
@import "layout/body";
@import "layout/header";
@import "layout/content";
@import "layout/footer";

/*
Static pages
*/
@import "pages/about";
@import "pages/developers";
@import "pages/home";
@import "pages/jobs";
@import "pages/privacy";
@import "pages/recent";
@import "pages/review";
@import "pages/tos";

/*
Less overwrite
*/
@import "utils/less-overwrite";
