div[id^="section-colors"] {
  text-align: left;

  .modifier__wrapper {
    overflow: hidden;
  }

  .modifier__item {
    display: block;
    float: left;
    font-size: 12px;
    margin: 5px;
    overflow: hidden;
    position: relative;
    vertical-align: top;

    &:hover {
      .modifier__color__infos {
        opacity: 1;
        transition: opacity .5s ease;
      }
    }

    &#colors-clear {
      border: none;
      clear: both;
      font-size: 0;
      height: 0;
      margin: 0;
      padding: 0;
      visibility: hidden;
      width: 0;
    }

    .example-color {
      display: block;
    }

    .modifier__color__infos {
      background: rgba($grey-darker, .5);
      bottom: 0;
      color: $white;
      height: auto;
      left: 0;
      opacity: 0;
      padding: 5px;
      position: absolute;
      transition: opacity 1s ease;
    }
  }
}

.example-color {
  background: $grey-smoke;
  border: 1px solid $border-color;
  display: none;
  height: 50px;
  width: 50px;

  @include breakpoint($screen-sm) {
    height: 75px;
    width: 75px;
  }

  @include breakpoint($screen-md) {
    height: 100px;
    width: 100px;
  }

  @each $colorName, $colorValue in $colors {
    &.#{$colorName} {
      background-color: $colorValue;
      border-color: darken($colorValue, 10%);
    }
  }

  @each $colorName, $colorValue in $thirdPartyColors {
    &.#{$colorName} {
      background-color: $colorValue;
      border-color: darken($colorValue, 10%);
    }
  }
}
