div[id^="section-icons"] {
  font-size: 0;

  .modifier__example {
    display: none;
  }

  .description {
    font-size: 25px;

    div,
    span {
      font-size: 25px;
    }
  }

  .logo-showcase {
    width: 200px;
    height: 40px;
    padding: 10px;
  }

  .modifier__item {
    display: inline-block;
    padding: 16px 0 0;
    border-radius: 6px;
    font-size: 12px;
    text-align: center;
    transition: background-color 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);

    .caption {
      color: $grey-dark;
      font-size: 13px;
      margin-top: 10px;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100px;
      z-index: 1;
    }

    .modifier__example {
      display: inline-block;
    }

    .modifier__name {
      padding-top: 10px;
    }

    &:hover {
      background-color: $grey-lighter;
    }
  }
}
