.structures-container {
  font-size: 0;
  text-align: center;
  background-color: $primary;
}

#section-structures {
  background-color: $grey-smoke;
  margin-left: -15px;
  margin-right: -15px;

  .page-header {
    padding-bottom: 60px;
  }
}

#section-structures-blog-post,
#section-structures-blogroll,
#section-structures-featured-page,
#section-structures-mozaic {
  display: inline-block;
  width: 33%;

  .page-header {
    h2,
    h2 a {
      color: $white !important;
    }
  }

  .content {
    background-color: $primary !important;

    .modifier__example {
      text-align: center;
    }

    .modifier__wrapper {
      padding-bottom: 0 !important;
    }
  }

  .footer-section {
    display: none;
  }
}

.structures-demo {
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  background-color: $grey-light;
  transition: all 300ms ease-in-out;
  border: 1px solid $primary-dark;

  &:after {
    content: '';
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: bottom 300ms ease-in-out;
  }

  img {
    width: 250px;
  }
}
