// Animations Utils

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;

  &.infinite {
    animation-iteration-count: infinite;
  }

  &.bounce {
    animation-name: bounce;
  }
}

.fadeout {
  animation-iteration-count: 1 !important;
  animation-name: fadeout !important;
  animation-duration: 500ms !important;
  animation-direction: normal !important;
  animation-timing-function: ease !important;
  animation-fill-mode: forwards !important;
  animation-delay: 0s !important;
}

@keyframes bounce {
  0%, 60%, 85%, 100% {
    transition-timing-function: cubic-bezier(.53,.97,.35,1);
    transform: translate3d(0, 0, 0) scale(1, 1);
  }

  40%, 43% {
    transition-timing-function: cubic-bezier(.74,.01,1,.13); 
    transform: translate3d(0, 15px, 0) scale(1, .95);
  }

  70% {
    transition-timing-function: cubic-bezier(.755,.050,.855,.060);
    transform: translate3d(0, 7px, 0) scale(1, 1);
  }

  90% {
    transform: translate3d(0, 2px, 0) scale(1, 1);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
