/* Animations Utils */

$animationCurve: cubic-bezier(0.165, 0.84, 0.44, 1);

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;

  &.infinite {
    animation-iteration-count: infinite;
  }

  &.bounce {
    animation-name: bounce;
  }
}

.fadeout {
  animation-iteration-count: 1 !important;
  animation-name: fadeout !important;
  animation-duration: 500ms !important;
  animation-direction: normal !important;
  animation-timing-function: ease !important;
  animation-fill-mode: forwards !important;
  animation-delay: 0s !important;
}

@keyframes bounce {
  0% {
    transition-timing-function: cubic-bezier(0.53, 0.97, 0.35, 1);
    transform: translate3d(0, 0, 0) scale(1, 1);
  }

  40% {
    transition-timing-function: cubic-bezier(0.74, 0.01, 1, 0.13);
    transform: translate3d(0, 15px, 0) scale(1, 0.95);
  }

  43% {
    transition-timing-function: cubic-bezier(0.74, 0.01, 1, 0.13);
    transform: translate3d(0, 15px, 0) scale(1, 0.95);
  }

  60% {
    transition-timing-function: cubic-bezier(0.53, 0.97, 0.35, 1);
    transform: translate3d(0, 0, 0) scale(1, 1);
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, 7px, 0) scale(1, 1);
  }

  85% {
    transition-timing-function: cubic-bezier(0.53, 0.97, 0.35, 1);
    transform: translate3d(0, 0, 0) scale(1, 1);
  }

  90% {
    transform: translate3d(0, 2px, 0) scale(1, 1);
  }

  100% {
    transition-timing-function: cubic-bezier(0.53, 0.97, 0.35, 1);
    transform: translate3d(0, 0, 0) scale(1, 1);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

.icon-loader {
  animation: spin 1s steps(12) infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
