/* Generics */

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  transition: transform 350ms ease-out;
  font-weight: $font-weight-normal;
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    font-weight: $font-weight-light;
  }
}

.container {
  &.page-narrow {
    max-width: 720px;
    margin: 1px auto 0;
    padding: 40px 15px;

    @include breakpoint($screen-sm) {
      padding: 40px 0;
    }
  }
}

/* Remove Firefox dotted outline */
a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0;
}
