// Generics

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  transition: transform 350ms ease-out;
  font-weight: $font-weight-normal;

  &.navbar-open {
    transform: translateX($mobile-nav-size);
    overflow: hidden;
  }
}

.container {
  &.page-narrow {
    max-width: 720px;
    margin: 1px auto 0 auto;
    padding: 40px 15px;
    @include breakpoint($screen-sm) {
      padding: 40px 0;
    }
  }
}
