// BASES MIXINS

@mixin breakpoint($size: $screen-lg, $reverse: false) {
  @if($reverse) {
    @media screen and (max-width: #{$size}) {
      @content;
    }
  } @else {
    @media screen and (min-width: #{$size}) {
      @content;
    }
  }
}

@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin radius($radius) {
  border-radius: $radius;
}
