// Variables

$bootstrap-sass-asset-helper: function-exists(twbs-font-path);

$mobile-nav-size        : 250px;
$link-hover-decoration  : underline;

// Typography
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$font-family-sans-serif : "Open Sans", Helvetica, Arial, sans-serif;
$font-family-serif      : Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace  : Courier, "Courier New", monospace;
$font-family-base       : $font-family-sans-serif;

$font-size-int          : 15;
$font-size-base         : $font-size-int * 1px;
$font-size-large        : 18px;
$font-size-small        : 13px;

$font-size-xs           : ceil($font-size-base * 0.70);
$font-size-h1           : floor($font-size-base * 2.54);
$font-size-h2           : floor($font-size-base * 2.15);
$font-size-h3           : ceil($font-size-base * 1.6);
$font-size-h4           : ceil($font-size-base * 1.2);
$font-size-h5           : $font-size-base;
$font-size-h6           : ceil($font-size-base * 0.8);

//** Unit-less `line-height` for use in components like buttons.
$line-height-base       : 24 / $font-size-int;

//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed   : floor($font-size-base * $line-height-base);

//** By default, this inherits from the `<body>`.
$headings-font-family   : inherit;
$headings-font-weight   : $font-weight-medium;
$headings-line-height   : 20 / $font-size-int;
$headings-color         : inherit;

// [converter] Asset helpers such as Sprockets and Node.js Mincer do not resolve relative paths
$icon-font-path         : if($bootstrap-sass-asset-helper, "bootstrap/", "../fonts/bootstrap/");

//** File name for all font files.
$icon-font-name         : "glyphicons-halflings-regular";
//** Element ID within SVG icon file.
$icon-font-svg-id       : "glyphicons_halflingsregular";

// Components
$padding-base-vertical    : 6px;
$padding-base-horizontal  : 12px;

$padding-large-vertical   : 10px;
$padding-large-horizontal : 16px;

$padding-small-vertical   : 5px;
$padding-small-horizontal : 10px;

$padding-xs-vertical      : 1px;
$padding-xs-horizontal    : 5px;

$line-height-large        : $line-height-base + 0.3;
$line-height-small        : $line-height-base - 0.3;

$border-radius-base       : 2px;
$border-radius-large      : 2px;
$border-radius-small      : 2px;

$component-active-color   : $white;
$component-active-bg      : $primary;
$caret-width-base         : 4px;
$caret-width-large        : 5px;

// Tables
$table-cell-padding           : 8px;
$table-condensed-cell-padding : 5px;
$table-bg                     : transparent;
$table-bg-accent              : $grey-smoke;
$table-bg-hover               : $primary-lighter;
$table-bg-active              : $active-bg;
$table-border-color           : $border-color;

// Buttons
$btn-font-weight         : $font-weight-normal;
$btn-default-color       : $grey-dark;
$btn-default-bg          : $white;
$btn-default-border      : $border-color;
$btn-primary-color       : $white;
$btn-primary-bg          : $primary;
$btn-primary-border      : $primary;
$btn-success-color       : $white;
$btn-success-bg          : $success;
$btn-success-border      : $success;
$btn-warning-color       : $white;
$btn-warning-bg          : $warning;
$btn-warning-border      : $warning;
$btn-danger-color        : $white;
$btn-danger-bg           : $error;
$btn-danger-border       : $error;
$btn-link-disabled-color : $grey-light;

// Forms
$input-bg                       : $white;
$input-bg-disabled              : $grey-lighter;
$input-color                    : $grey-dark;
$input-border                   : $border-color;
$input-border-radius            : $border-radius-base;
$input-border-radius-large      : $border-radius-large;
$input-border-radius-small      : $border-radius-small;
$input-border-focus             : $primary;
$input-color-placeholder        : $grey;
$input-color-placeholder-focus  : $grey-light;
$input-height-base              : ($line-height-computed + ($padding-base-vertical * 2) + 2);
$input-height-large             : (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2);
$input-height-small             : (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2);

$legend-color                   : $grey-dark;
$legend-border-color            : $border-color;

$input-group-addon-bg           : $grey-lighter;
$input-group-addon-border-color : $border-color;
$cursor-disabled                : not-allowed;

// Dropdowns
$dropdown-bg                  : $white;
$dropdown-border              : rgba(0,0,0,.15);
$dropdown-fallback-border     : $border-color;
$dropdown-divider-bg          : $grey-lighter;

$dropdown-link-color          : $grey-dark;
$dropdown-link-hover-color    : $grey-dark;
$dropdown-link-hover-bg       : $hover-bg;

$dropdown-link-active-color   : $active-color;
$dropdown-link-active-bg      : $active-bg;

$dropdown-link-disabled-color : $grey-light;
$dropdown-header-color        : $grey;
$dropdown-caret-color         : $grey-dark;

// Z-index master list
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
// Note: These variables are not generated into the Customizer.
$zindex-flying-menu      : 1000;
$zindex-dropdown         : 1010;
$zindex-popover          : 1020;
$zindex-tooltip          : 1050;
$zindex-navbar           : 1040;
$zindex-navbar-fixed     : 1050;
$zindex-modal-background : 1060;
$zindex-modal            : 1070;

// Media queries breakpoints

// Extra small screen / phone
$screen-xs         : 450px;
//$screen-xs       : 850px; default value
$screen-xs-min     : $screen-xs;
$screen-phone      : $screen-xs-min;

// Small screen / tablet
$screen-sm         : 768px;
//$screen-sm       : 850px; default value
$screen-sm-min     : $screen-sm;
$screen-tablet     : $screen-sm-min;

// Medium screen / desktop
$screen-md         : 992px;
//$screen-md       : 1050px; default value
$screen-md-min     : $screen-md;
$screen-desktop    : $screen-md-min;

// Large screen / wide desktop
$screen-lg         : 1200px;
//$screen-lg       : 1050px; default value
$screen-lg-min     : $screen-lg;
$screen-lg-desktop : $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max     : ($screen-sm-min - 1);
$screen-sm-max     : ($screen-md-min - 1);
$screen-md-max     : ($screen-lg-min - 1);

// Grid system
//** Number of columns in the grid.
$grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);

// Container sizes
// Small screen / tablet
$container-tablet        : (738px + $grid-gutter-width);
//** For `$screen-sm-min` and up.
$container-sm            : $container-tablet;

// Medium screen / desktop
$container-desktop       : (940px + $grid-gutter-width);
//** For `$screen-md-min` and up.
$container-md            : $container-desktop;

// Large screen / wide desktop
$container-large-desktop : (1020px + $grid-gutter-width);
//** For `$screen-lg-min` and up.
$container-lg            : $container-large-desktop;

// Navbar
// Basics of a navbar
$navbar-height              : 60px;
$navbar-margin-bottom       : $line-height-computed;
$navbar-border-radius       : 4px;
$navbar-padding-horizontal  : floor($grid-gutter-width / 2);
$navbar-padding-vertical    : (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height : 340px;

$navbar-default-color       : $grey-dark;
$navbar-default-bg          : $white;
$navbar-default-border      : $border-color;

// Navbar links
$navbar-default-link-color          : $grey-dark;
$navbar-default-link-hover-color    : $hover-color;
$navbar-default-link-hover-bg       : $hover-bg;
$navbar-default-link-active-color   : $grey-dark;
$navbar-default-link-active-bg      : $hover-bg;
$navbar-default-link-disabled-color : $grey;
$navbar-default-link-disabled-bg    : transparent;

// Navbar brand label
$navbar-default-brand-color         : $grey-dark;
$navbar-default-brand-hover-color   : $hover-color;
$navbar-default-brand-hover-bg      : transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg     : $hover-bg;
$navbar-default-toggle-icon-bar-bg  : $grey;
$navbar-default-toggle-border-color : $border-color;

// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color               : $grey-lighter;
$navbar-inverse-bg                  : $grey-darker;
$navbar-inverse-border              : $grey-darker;

// Inverted navbar links
$navbar-inverse-link-color          : $grey-smoke;
$navbar-inverse-link-hover-color    : $white;
$navbar-inverse-link-hover-bg       : transparent;
$navbar-inverse-link-active-color   : $white;
$navbar-inverse-link-active-bg      : $grey-darker;
$navbar-inverse-link-disabled-color : $grey-dark;
$navbar-inverse-link-disabled-bg    : transparent;

// Inverted navbar brand label
$navbar-inverse-brand-color         : $grey-smoke;
$navbar-inverse-brand-hover-color   : $white;
$navbar-inverse-brand-hover-bg      : transparent;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg     : $grey-dark;
$navbar-inverse-toggle-icon-bar-bg  : $white;
$navbar-inverse-toggle-border-color : $grey-dark;

// Navs
$nav-link-padding              : 10px 15px;
$nav-link-hover-bg             : $hover-bg;
$nav-disabled-link-color       : $grey-light;
$nav-disabled-link-hover-color : $grey-light;

// Tabs
$nav-tabs-border-color                       : $border-color;
$nav-tabs-link-hover-border-color            : $hover-border;
$nav-tabs-active-link-hover-bg               : $hover-bg;
$nav-tabs-active-link-hover-color            : $hover-color;
$nav-tabs-active-link-hover-border-color     : $grey-dark;
$nav-tabs-justified-link-border-color        : $primary-dark;
$nav-tabs-justified-active-link-border-color : $active-bg;

// Pills
$nav-pills-border-radius           : $border-radius-base;
$nav-pills-active-link-hover-bg    : $component-active-bg;
$nav-pills-active-link-hover-color : $component-active-color;

// Pagination
$line-height-lg:         (4 / 3) !default;
$line-height-sm:         1.5 !default;

$border-radius:          0.25rem !default;
$border-radius-lg:       0.3rem !default;
$border-radius-sm:       0.2rem !default;

$font-size-lg               : 1.25rem !default;
$font-size-sm               : 0.875rem !default;
$enable-hover-media-query   : true;
$spacer                     : 1rem !default;
$spacer-x                   : $spacer !default;
$spacer-y                   : $spacer !default;
$pagination-padding-x       : 0.75rem !default;
$pagination-padding-y       : 0.5rem !default;
$pagination-padding-x-sm    : 0.75rem !default;
$pagination-padding-y-sm    : 0.275rem !default;
$pagination-padding-x-lg    : 1.5rem !default;
$pagination-padding-y-lg    : 0.75rem !default;

$pagination-color           : $link-color !default;
$pagination-bg              : #fff !default;
$border-width               : 1px !default;
$pagination-border-width    : $border-width !default;
$pagination-border-color    : #ddd !default;

$pagination-color           : $grey-darker;
$pagination-bg              : $white;
$pagination-border          : $border-color;
$pagination-hover-color     : $hover-color;
$pagination-hover-bg        : $white;
$pagination-hover-border    : $primary;
$pagination-active-color    : $grey-darker;
$pagination-active-bg       : $active-bg;
$pagination-active-border   : $primary-light;
$pagination-disabled-color  : $grey-light;
$pagination-disabled-bg     : $white;
$pagination-disabled-border : $grey-light;

// Pager
$pager-bg             : $white;
$pager-border         : $border-color;
$pager-border-radius  : 15px;
$pager-hover-bg       : $white;
$pager-active-bg      : $active-bg;
$pager-active-color   : $grey-darker;
$pager-disabled-color : $grey-light;

// Jumbotron
$jumbotron-padding       : 30px;
$jumbotron-color         : inherit;
$jumbotron-bg            : $grey-smoke;
$jumbotron-heading-color : inherit;
$jumbotron-font-size     : ceil($font-size-base * 1.5);

// Form states and alerts
$state-success-text   : $success-dark;
$state-success-bg     : $success-smoke;
$state-success-border : $success-light;

$state-info-text      : $primary-dark;
$state-info-bg        : $primary-smoke;
$state-info-border    : $primary-light;

$state-warning-text   : $warning-dark;
$state-warning-bg     : $warning-smoke;
$state-warning-border : $warning-light;

$state-danger-text    : $error-dark;
$state-danger-bg      : $error-smoke;
$state-danger-border  : $error-light;

// Tooltips
$tooltip-max-width   : 200px;
$tooltip-color       : $white;
$tooltip-bg          : $grey-dark;
$tooltip-opacity     : 1;
$tooltip-arrow-width : 5px;
$tooltip-arrow-color : $grey-dark;

// Popovers
$popover-bg                         : $white;
$popover-max-width                  : 276px;
$popover-border-color               : rgba(0,0,0,.2);
$popover-fallback-border-color      : $border-color;
$popover-title-bg                   : $white;
$popover-arrow-width                : 10px;
$popover-arrow-color                : $white;
$popover-arrow-outer-width          : ($popover-arrow-width + 1);
$popover-arrow-outer-color          : fade_in($popover-border-color, 0.05);
$popover-arrow-outer-fallback-color : darken($popover-fallback-border-color, 20%);

// Labels
$label-default-bg       : $grey-smoke;
$label-primary-bg       : $primary-smoke;
$label-success-bg       : $success-smoke;
$label-warning-bg       : $warning-smoke;
$label-danger-bg        : $error-smoke;
$label-color            : $grey-dark;
$label-link-hover-color : $hover-color;

// Modals
$modal-inner-padding                 : 21px;
$modal-title-padding                 : 17px;
$modal-title-line-height             : $line-height-base;
$modal-content-bg                    : $white;
$modal-content-border-color          : $border-color;
$modal-content-fallback-border-color : $border-color;
$modal-backdrop-bg                   : $grey-darker;
$modal-backdrop-opacity              : 0.5;
$modal-header-border-color           : $border-color;
$modal-footer-border-color           : $border-color;
$modal-lg                            : 900px;
$modal-md                            : 600px;
$modal-sm                            : 300px;

// Alerts
$alert-padding          : 15px;
$alert-border-radius    : $border-radius-base;
$alert-link-font-weight : $font-weight-medium;

$alert-success-bg       : $state-success-bg;
$alert-success-text     : $state-success-text;
$alert-success-border   : $state-success-border;

$alert-info-bg          : $state-info-bg;
$alert-info-text        : $state-info-text;
$alert-info-border      : $state-info-border;

$alert-warning-bg       : $state-warning-bg;
$alert-warning-text     : $state-warning-text;
$alert-warning-border   : $state-warning-border;

$alert-danger-bg        : $state-danger-bg;
$alert-danger-text      : $state-danger-text;
$alert-danger-border    : $state-danger-border;

// Progress bars
$progress-bg                 : $grey-smoke;
$progress-bar-color          : $primary;
$progress-border-radius      : $border-radius-base;
$progress-bar-bg             : $primary-light;
$progress-bar-border         : $primary;
$progress-bar-success-bg     : $success-light;
$progress-bar-success-border : $success;
$progress-bar-warning-bg     : $warning-light;
$progress-bar-warning-border : $warning;
$progress-bar-danger-bg      : $error-light;
$progress-bar-danger-border  : $error;

// List group
$list-group-bg                  : $white;
$list-group-border              : $border-color;
$list-group-border-radius       : $border-radius-base;
$list-group-hover-bg            : $primary-smoke;
$list-group-active-color        : $white;
$list-group-active-bg           : $primary;
$list-group-active-border       : $primary;
$list-group-active-text-color   : $white;
$list-group-disabled-color      : $grey-light;
$list-group-disabled-bg         : $grey-lighter;
$list-group-disabled-text-color : $grey-light;
$list-group-link-color          : $grey-dark;
$list-group-link-hover-color    : $primary-dark;
$list-group-link-heading-color  : $grey-dark;

// Panels
$panel-bg                 : $white;
$panel-body-padding       : 15px;
$panel-heading-padding    : 10px 15px;
$panel-footer-padding     : $panel-heading-padding;
$panel-border-radius      : $border-radius-base;
$panel-inner-border       : $border-color;
$panel-footer-bg          : $grey-smoke;
$panel-default-text       : $grey-dark;
$panel-default-border     : $border-color;
$panel-default-heading-bg : $grey-smoke;
$panel-primary-text       : $white;
$panel-primary-border     : $primary;
$panel-primary-heading-bg : $primary;
$panel-success-text       : $state-success-text;
$panel-success-border     : $state-success-border;
$panel-success-heading-bg : $state-success-bg;
$panel-info-text          : $state-info-text;
$panel-info-border        : $state-info-border;
$panel-info-heading-bg    : $state-info-bg;
$panel-warning-text       : $state-warning-text;
$panel-warning-border     : $state-warning-border;
$panel-warning-heading-bg : $state-warning-bg;
$panel-danger-text        : $state-danger-text;
$panel-danger-border      : $state-danger-border;
$panel-danger-heading-bg  : $state-danger-bg;

// Thumbnails
$thumbnail-padding         : 4px;
$thumbnail-bg              : $white;
$thumbnail-border          : $border-color;
$thumbnail-border-radius   : $border-radius-base;
$thumbnail-caption-color   : $grey-dark;
$thumbnail-caption-padding : 9px;

// Wells
$well-bg     : $grey-smoke;
$well-border : $border-color;

// Badges
$badge-color            : $grey-dark;
$badge-link-hover-color : $hover-color;
$badge-bg               : $grey-smoke;
$badge-active-color     : $link-color;
$badge-active-bg        : $white;
$badge-font-weight      : $font-weight-medium;
$badge-line-height      : 1;
$badge-border-radius    : 10px;

// Breadcrumbs
$breadcrumb-padding-vertical   : 8px;
$breadcrumb-padding-horizontal : 15px;
$breadcrumb-bg                 : $grey-smoke;
$breadcrumb-color              : $grey-dark;
$breadcrumb-active-color       : $active-color;
$breadcrumb-separator          : "/";

// Carousel
$carousel-text-shadow            : none;
$carousel-control-color          : $white;
$carousel-control-width          : 15%;
$carousel-control-opacity        : 0.5;
$carousel-control-font-size      : 20px;
$carousel-indicator-active-bg    : $white;
$carousel-indicator-border-color : $white;
$carousel-caption-color          : $white;

// Close
$close-font-weight : $font-weight-normal;
$close-color       : $grey-dark;
$close-text-shadow : none;

// Code
$code-color                : $error-dark;
$code-bg                   : $error-smoke;
$kbd-color                 : $white;
$kbd-bg                    : $grey-dark;
$pre-bg                    : $grey-smoke;
$pre-color                 : $grey-dark;
$pre-border-color          : $grey-light;
$pre-scrollable-max-height : 340px;

// Type
$component-offset-horizontal: 180px;
$text-muted:                  $grey-light;
$abbr-border-color:           $grey-light;
$headings-small-color:        $grey-light;
$blockquote-small-color:      $grey-light;
$blockquote-font-size:        ($font-size-base * 1.25);
$blockquote-border-color:     $grey-lighter;
$page-header-border-color:    $grey-lighter;
$dl-horizontal-offset:        $component-offset-horizontal;
$hr-border:                   $grey-lighter;
