@charset "UTF-8";

// About page

body.about {
  background-color: $white;
}

.about-peoples {
  padding-top: 60px;

  .people {
    overflow: hidden;

    h3 {
      margin-top: 10px;
      line-height: 1;
    }
  }

  .pic {
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .description {
    height: 110px;
    overflow: hidden;
  }

  .job-title {
    max-height: 70px;
    line-height: 1.2;
  }
}

.about-share-button {
  display: inline-block;
  margin: 0 6px;
  width: 90px;
}

.about-team-picture {
  width: 100%;
}
