@charset "UTF-8";

// Review specifics

.dashboard-bars {
  clear: both;
  overflow: hidden;
  position: relative;
  padding-top: 18px;

  .section {
    clear: both;
    padding-left: 32px;
    margin-bottom: 8px;
    position: relative;
  }

  .icn {
    font-size: 20px;
    left: 0;
    line-height: 0;
    margin-right: 14px;
    position: absolute;
    top: 26px;
    vertical-align: -5px;
  }

  .icn-bullet-result-check {
    color: #5FBF02;
  }

  .icn-bullet-result-warning {
    color: #e3611e;
  }

  .icn-bullet-result-cross {
    color: #c4392f;
  }

  .icn-bullet-result-info {
    color: #315D86;
  }

  .progress-container {
    width: 100%;
  }

  .progress {
    display: inline-block;
    margin-bottom: 2px;
    width: 40%;
  }

  .progress-label {
    color: #444;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 300;
  }

  @include breakpoint('805px') {
    padding-left: 26px;

    .progress-label {
      font-size: 12px;
      padding: 0 10px;
      font-weight: normal;
    }
  }
}

#dashboard-bars {
  position: relative;
  padding-left: 0;

  .icn {
    top: 8px;
  }

  .progress-label {
    width: 40%;
    line-height: 22px;
    font-size: 13px;
    color: #858585;

    @include breakpoint('805px') {
      width: 90px;
    }
  }

  .progress {
    width: 40%;

    @include breakpoint('805px') {
      width: 150px;
    }
  }
}
