<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <svg class="icon icon-xs icon-cross"><use xlink:href="#cross"></use></svg>
  </button>
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>
