<div class="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <svg class="icon icon-cross"><use xlink:href="#cross"></use></svg>
  </button>
  <strong>Lorem ipsum</strong> dolor <a href="#" class="alert-link">sit amet</a>,
  consectetur adipisicing elit. Doloremque, hic.
</div>
