<div class="business-card">
  <a class="photo-wrapper" href="#">
    <img class="photo" src="http://lorempixel.com/130/130/people/">
  </a>

  <span class="name">
    <a href="#">Name with link</a>
  </span>

  <address class="address">
    <span class="locality">City</span>
    <span class="country-name">
      (Country)
    </span>
  </address>
</div>
