<a  href="#" class="btn btn-primary active">Button Text</a>
<a  href="#" class="btn btn-default active">Button Text</a>
<a  href="#" class="btn btn-primary disabled">Button Text</a>
<a  href="#" class="btn btn-default disabled">Button Text</a>
