<div class="btn-group">
  <button class="btn btn-default {{modifier_class}}">Left</button>
  <button class="btn btn-default">Middle</button>
  <button class="btn btn-default">Right</button>
</div>
<div class="btn-group">
  <button class="btn btn-default">Left</button>
  <button class="btn btn-default {{modifier_class}}">Middle</button>
  <button class="btn btn-default">Right</button>
</div>
<div class="btn-group">
  <button class="btn btn-default">Left</button>
  <button class="btn btn-default">Middle</button>
  <button class="btn btn-default {{modifier_class}}">Right</button>
</div>

<sg:wrapper>
  <div class="btn-toolbar">
    <sg:wrapper-content/>
  </div>
</sg:wrapper>
