<div class="row">
  <div class="col-sm-4">
    <div class="corner-indicator-container">
      <div class="corner-indicator corner-top-left corner-competitor-light"></div>
      <input class="form-control" type="text" placeholder="First competitor">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="corner-indicator-container">
      <div class="corner-indicator corner-top-left corner-competitor"></div>
      <input class="form-control" type="text" placeholder="Second competitor">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="corner-indicator-container">
      <div class="corner-indicator corner-top-left corner-competitor-dark"></div>
      <input class="form-control" type="text" placeholder="Third competitor">
    </div>
  </div>
</div>
