<div class="row">
  <div class="col-md-4">
    <a href="#" class="direction-label">
      Normal state
      <svg class="icon icon-arrow-up">
        <use xlink:href="#arrow-up"></use>
      </svg>
      <svg class="icon icon-arrow-down">
        <use xlink:href="#arrow-down"></use>
      </svg>
    </a>
  </div>
  <div class="col-md-4">
    <a href="#" class="direction-label down">
      Sort
      <svg class="icon icon-arrow-up">
        <use xlink:href="#arrow-up"></use>
      </svg>
      <svg class="icon icon-arrow-down">
        <use xlink:href="#arrow-down"></use>
      </svg>
    </a>
  </div>
  <div class="col-md-4">
    <a href="#" class="direction-label up">
      Sort reverse
      <svg class="icon icon-arrow-up">
        <use xlink:href="#arrow-up"></use>
      </svg>
      <svg class="icon icon-arrow-down">
        <use xlink:href="#arrow-down"></use>
      </svg>
    </a>
  </div>
</div>
