<div class="hero-banner hero-banner-preview">
    <img class="hero-img" src="http://lorempixel.com/1600/760/city/" alt="">
    <a href="#" class="free-review-site-preview">
        <span class="site-title">woorank.com</span>
        <img class="site-img" src="http://placehold.it/460x230" alt="" width="460" height="230">
        <span class="site-missing-img-title">woorank.com</span>
        <img class="hero-missing-img" src="./assets/img/home/preview-site-page.png" alt="">
    </a>
</div>