<div class="input-flag-container">
  <label class="input-flag background-warning">
    <svg class="icon icon-gear">
      <use xlink:href="#gear"></use>
    </svg>
  </label>
  <input class="form-control" type="text" placeholder="Flags!" />
</div>
