<button type="button"
  class="btn btn-lg btn-danger"
  data-toggle="popover"
  data-trigger="focus"
  title="Popover title"
  data-content="And here's some amazing content. It's very engaging. Right?">
  Click to toggle popover
</button>

<button type="button"
  class="btn btn-lg btn-danger"
  data-toggle="popover"
  data-trigger="click"
  title="Popover title"
  data-content="And here's some amazing content. It's very engaging. Right?"
  data-template="<div class='popover top'><div class='arrow'></div><button class='close'><svg class='icon icon-cross fill-grey-medium'><use xlink:href='#cross'></use></svg>
</button><h3 class='popover-title'></h3><div class='popover-content'></div></div>">
  Custom popover with close button
</button>
