<div class="position-label">
  <svg class="icon icon-triangle-up">
    <use xlink:href="#triangle-up"></use>
  </svg>
  <svg class="icon icon-triangle-down">
    <use xlink:href="#triangle-down"></use>
  </svg>
  0
</div>

<div class="position-label down">
  <svg class="icon icon-triangle-up">
    <use xlink:href="#triangle-up"></use>
  </svg>
  <svg class="icon icon-triangle-down">
    <use xlink:href="#triangle-down"></use>
  </svg>
  3
</div>

<div class="position-label up">
  <svg class="icon icon-triangle-up">
    <use xlink:href="#triangle-up"></use>
  </svg>
  <svg class="icon icon-triangle-down">
    <use xlink:href="#triangle-down"></use>
  </svg>
  3
</div>
