<!-- add inline style for the Styleguide only, don't use that. -->
<nav class="sub-nav" style="margin:0;padding:0;">
  <a href="#" class="sub-nav-link active">active link</a>
  <a href="#" class="sub-nav-link">link 2</a>
  <a href="#" class="sub-nav-link">link 3</a>
</nav>
