<div class="tag tag-dismissible">
  <span class="tag-text">Tag</span>
  <button class="btn btn-close">
    <svg class="icon cross">
      <use xlink:href="#cross"></use>
    </svg>
  </button>
</div>
