<div class="tooltip top tooltip-visible tooltip-primary" role="tooltip">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner">
        Tooltip
        <button class="close">
          <svg class="icon icon-cross">
            <use xlink:href="#cross"></use>
          </svg>
        </button>
    </div>
</div>
