
<div class="col-xs-6">
    <div class="tooltip bottom-left tooltip-visible tooltip-primary" role="tooltip">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
            Tooltip on the bottom
            <span class="tooltip-btn-close">&times;</span>
        </div>
    </div>
</div>
<div class="col-xs-6">
    <div class="tooltip bottom-right tooltip-visible tooltip-primary" role="tooltip">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
            Tooltip on the bottom
            <span class="tooltip-btn-close">&times;</span>
        </div>
    </div>
</div>
