<div class="tooltip bottom-left tooltip-visible tooltip-primary"
    role="tooltip"
    data-animation="true"
    data-animation-loop="3"
    data-animation-name="bounce"
    data-animation-delay="3000">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner">
        Tooltip animated by js
        <span class="tooltip-btn-close">&times;</span>
    </div>
</div>
