<div class="tooltip tooltip-visible {{modifier_class}} styleguide-example" role="tooltip">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner">
        <strong>Tooltip</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, quod.
    </div>
</div>
