<form class="generation-bar generation-bar-in-header js-generation-bar-in-header"
    id="js-generation-bar-in-header"
    action=""
    method="post"
    novalidate="">
    <div class="input-group">

        <div class="input-container js-errors-container">
            <input type="url"
                class="form-control input-sm required js-validate-review-url"
                name="url"
                value=""
                placeholder="URL to review"
                id="js-generation-bar-in-header-input"
                tabindex="-1" />
            
            <div class="fake-input-container js-fake-input-container hidden">
                <div class="form-contol input-sm fake-input js-fake-input"></div>

                <div class="competitor-tag js-competitor-tag hidden"
                    data-toggle="tooltip" data-placement="top" title="">
                    <span class="competitor-tag-text" data-target="add-first-competitor"></span>
                    <span class="corner-indicator corner-top-left corner-competitor-light"></span>
                    <button type="button" class="btn btn-close">
                        <svg class="icon icon-cross icon-xs" role="img">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cross"></use>
                        </svg>
                    </button>
                </div>

                <div class="competitor-tag js-competitor-tag hidden"
                    data-toggle="tooltip" data-placement="top" title="">
                    <span class="competitor-tag-text" data-target="add-second-competitor"></span>
                    <span class="corner-indicator corner-top-left corner-competitor"></span>
                    <button type="button" class="btn btn-close">
                        <svg class="icon icon-cross icon-xs" role="img">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cross"></use>
                        </svg>
                    </button>
                </div>

                <div class="competitor-tag js-competitor-tag hidden"
                    data-toggle="tooltip" data-placement="top" title="">
                    <span class="competitor-tag-text" data-target="add-third-competitor"></span>
                    <span class="corner-indicator corner-top-left corner-competitor-dark"></span>
                    <button type="button" class="btn btn-close">
                        <svg class="icon icon-cross icon-xs" role="img">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cross"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="input-group-btn">
            <div class="generation-bar-options js-generation-bar-options">
                <button type="button"
                    class="btn btn-link btn-xs options-btn js-options-btn">
                    <span class="options-btn-text">Options</span>
                    <svg class="icon icon-chevron-down icon-xs closed-icon" role="img">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-down"></use>
                    </svg>
                    <svg class="icon icon-chevron-up icon-xs opened-icon" role="img">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-up"></use>
                    </svg>
                </button>

                <div class="options-content js-options-content">
                    <button type="button" class="btn btn-close">
                        <svg class="icon icon-cross icon-xs" role="img">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cross"></use>
                        </svg>
                    </button>

                    <label class="add-competitors-title">Add competitors</label>
                    
                    <div class="js-add-competitors input-group" id="add-first-competitor">
                        <span class="corner-indicator corner-top-left corner-competitor-light"></span>
                        <input type="text" class="form-control input-sm" placeholder="Competitor URL">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm js-btn-add-competitors">Add</button>
                        </div>
                    </div>

                    <div class="js-add-competitors input-group hidden" id="add-second-competitor">
                        <span class="corner-indicator corner-top-left corner-competitor"></span>
                        <input type="text" class="form-control input-sm" placeholder="Competitor URL">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm js-btn-add-competitors">Add</button>
                        </div>
                    </div>

                    <div class="js-add-competitors input-group hidden" id="add-third-competitor">
                        <span class="corner-indicator corner-top-left corner-competitor-dark"></span>
                        <input type="text" class="form-control input-sm" placeholder="Competitor URL">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm js-btn-add-competitors">Add</button>
                        </div>
                    </div>

                    <div class="js-add-competitors input-group hidden" id="max-competitor">
                        <span class="text-muted">Maximum reached</span>
                    </div>
                </div>

            </div>
            <button class="btn btn-primary generation-bar-btn"
                id="js-generation-bar-in-header-submit"
                name="generate"
                type="submit"
                tabindex="2">
                <span class="ready">Review</span>
                <span class="wait"></span>
            </button>
        </div>
    </div>
</form>
