<form class="generation-bar generation-bar-small">
    <div class="input-group">
        <input type="text" class="form-control input-sm" placeholder="Website URL to review">
        <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" type="button">Try it for Free</button>
        </span>
    </div>
</form>

<form class="generation-bar generation-bar-small error">
    <div class="input-group">
        <input type="text" class="form-control input-sm" placeholder="Website URL to review" value="Error inside">
        <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" type="button">Try it for Free</button>
        </span>
    </div>
</form>
