<form class="generation-bar">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Website URL to review">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Try it for Free</button>
        </span>
    </div>
</form>
