<div class="generation-bar-in-header-container">
    <form class="generation-bar ajax-generate-report generate-form generation-bar-in-header js-generation-bar-in-header" id="generation-bar-in-header" action="/en/report/generate" method="post" novalidate="">
        <div class="input-group">
            <div class="input-container">
                <input type="url" class="form-control required js-validate-review-url" name="url" value="" placeholder="Website URL to review" id="generation-bar-in-header-input" tabindex="1">
            </div>
            <div class="input-group-btn">
                <div class="generation-bar-options js-generation-bar-options">
                    <button type="button" class="btn btn-link btn-xs options-btn js-options-btn">
                        <span class="options-btn-text">Options</span>
                        <svg class="icon icon-chevron-down icon-xs closed-icon" role="img">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-down"></use>
                        </svg>
                        <svg class="icon icon-chevron-up icon-xs opened-icon" role="img">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-up"></use>
                        </svg>
                    </button>
                </div>
                <button class="btn generation-bar-btn btn-default" id="generation-bar-in-header-submit" name="generate" value="premium" type="submit" tabindex="2">
                    <span class="ready">Review</span>
                    <span class="wait">Reviewing...</span>
                </button>
            </div>
        </div>
        <!-- style="display:block;position:relative;" only on this example -->
        <div class="options-content js-options-content" id="gen-inputs-container" style="display:block;position:relative;">
            <button type="button" class="btn btn-close" title="Close" tabindex="7">
                <svg class="icon icon-cross icon-xs" role="img">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cross"></use>
                </svg>
            </button>
            <label class="add-competitors-title">
                Add competitors </label>
            <div class="form-group first-competitor-container">
                <div class="js-add-competitors input-group" id="add-first-competitor">
                    <span class="corner-indicator corner-top-left corner-competitor-light"></span>
                    <input type="text" class="form-control input-sm" name="competitors[1]" id="inp-comp-1" placeholder="Competitor-1.com" tabindex="3">
                </div>
            </div>
            <div class="form-group second-competitor-container">
                <div class="js-add-competitors input-group" id="add-second-competitor">
                    <span class="corner-indicator corner-top-left corner-competitor"></span>
                    <input type="text" class="form-control input-sm" name="competitors[2]" id="inp-comp-2" placeholder="Competitor-2.net" tabindex="4">
                </div>
            </div>
            <div class="form-group third-competitor-container">
                <div class="js-add-competitors input-group" id="add-third-competitor">
                    <span class="corner-indicator corner-top-left corner-competitor-dark"></span>
                    <input type="text" class="form-control input-sm" name="competitors[3]" id="inp-comp-3" placeholder="Competitor-3.org" tabindex="5">
                </div>
            </div>
            <div class="options-footer">
                <!-- NEW GENERATION BUTTON -->
                <button class="btn btn-sm btn-primary generation-bar-btn" id="generation-bar-in-header-submit-footer" name="generate" value="premium" type="submit" tabindex="6">
                    <span class="ready">Review</span>
                    <span class="wait">Reviewing...</span>
                </button>
            </div>
        </div>
    </form>
</div>
