<form role="form">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">prefix</span>
      <input type="text" class="form-control">
      <span class="input-group-addon">sufix</span>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
      <input type="text" class="form-control">
      <span class="input-group-addon primary">
        <svg class="icon icon-gear fill-white">
          <use xlink:href="#gear"></use>
        </svg>
      </span>
    </div>
  </div>
</form>
