<div class="marketing-checklist">
  <div class="module-content">
    <div class="marketing-checklist-header">
      <h2 class="marketing-checklist-title">Marketing Checklist</h2>
    </div>

    <div class="marketing-checklist-list">
      <div class="task-container" data-category="seo" id="project-task-">
        <h3 class="task-header">
          <a class="checker" data-container="#marketing-checklist" data-ga="checker" data-original-title="" data-placement="bottom" data-toggle="popover" data-trigger="focus" href="#" title="">
            <span class="icn icn-box"></span>
            <span class="icn icn-box-check"></span>
            <span class="svg-loader svg-loader-16"></span>
          </a>
          <span class="marketing-checklist-item-title">
            Optimize your pages Titles
            <span class="label label-warning">Top Priority</span>
          </span>
          <span class="icn icn-plus"></span>
          <span class="icn icn-minus"></span>
        </h3>

        <div class="task-content">
          <div>
            <div class="task-data">
              <span class="icns importance-3">
                <span class="icn icn-bullet-impact"></span>
                <span class="icn icn-bullet-impact"></span>
                <span class="icn icn-bullet-impact"></span>
                High impact
              </span>
              <span class="icns solvability-1">
                <span class="icn icn-gear"></span>
                <span class="icn icn-gear"></span>
                <span class="icn icn-gear"></span>
                Easy to solve for Marketer
              </span>
            </div>

            <div class="task-sumary">
              <h4>Why it's important</h4>
              <p>Page titles are important for search engine relevance and they will also be the first thing users see in search results, so it’s important they are logical for the search query and users feel confident clicking on them.</p>
              <p>They should be optimised as an accurate reflection for what is on that particular page to avoid being flagged by Google, or users simply feeling tricked when they arrive on your website.</p>
            </div>

            <div class="task-text">
              <h4>Getting it done</h4>
              <p>A unique title should be created for each page. Avoid duplication, particularly due to automation on larger websites. Try to avoid boilerplate titles as far as possible.</p>
              <p>Titles should be 70 characters or less (including spaces) and should include your keywords as early as possible. The brand should only be placed first on the homepage of your website.</p>
              <p>Avoid spammy keywords such as Free, Cheap etc.</p>
              <p>Use combinations of terms such as city names and industry terms to add relevance.</p>
              <p>Keep the keywords consistent with those in your content, sub-headings (H tags) and meta descriptions.</p>

              <div class="task-quicktip">
                <span class="icn icn-wolf-shadow"></span>
                <span>Check your Titles in the SEO section of your WooRank Advanced Review to make sure it is the right length and contains your most important keywords.</span>
              </div>
            </div>

            <div class="task-links">
              <h4>External resources</h4>

              <ul>
                <li>
                  <a href="#" target="_blank">Title Tag Optimization</a>
                </li>

                <li>
                  <a href="#" target="_blank">Google Tips for Site Titles</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="task-container" data-category="seo" id="project-task-">
        <h3 class="task-header">
          <a class="checker" data-container="#marketing-checklist" data-ga="checker" data-original-title="" data-placement="bottom" data-toggle="popover" data-trigger="focus" href="#" title="">
            <span class="icn icn-box"></span>
            <span class="icn icn-box-check"></span>
            <span class="svg-loader svg-loader-16"></span>
          </a>
          <span class="marketing-checklist-item-title">
            Optimize your site internal navigation and links
            <span class="label label-warning hidden">Top Priority</span>
          </span>
          <span class="icn icn-plus"></span>
          <span class="icn icn-minus"></span>
        </h3>

        <div class="task-content">
          <div>
            <div class="task-data">
              <span class="icns importance-3"><span class="icn icn-bullet-impact"></span> <span class="icn icn-bullet-impact"></span> <span class="icn icn-bullet-impact"></span> High impact</span> <span class="icns solvability-1"><span class="icn icn-gear"></span> <span class="icn icn-gear"></span> <span class="icn icn-gear"></span> Easy to solve</span> for Developer
            </div>

            <div class="task-sumary">
              <h4>Why it's important</h4>
              <p>Effective navigation and links are vital for happy website users and search engines. It should be clear and simple for visitors to understand, and should be kept to as few levels as possible to avoid burying important content and pages deep within your site.</p>
              <p>It’s important to check links have not become broken or outdated over time, leading visitors and search engines to error pages, including important links within articles and other content.</p>
            </div>

            <div class="task-text">
              <h4>Getting it done</h4>
              <p>Try to keep the hierarchy of website sections as flat as possible, and conform to common naming conventions.</p>
              <p>This needs to be balanced with keeping the total links on a page below 100 in total.</p>
              <p>Schedule regular checks to ensure links are still functioning. Content that has moved can be fixed by putting 301 Redirects in place to send visitors and search engines to the new, correct location.</p>
              <p>Ensure important internal links are positioned early in content to ensure they are crawled and weighted appropriately.</p>
              <div class="task-quicktip">
                <span class="icn icn-wolf-shadow"></span> <span>Check the quality and quantity of your internal linking in your WooRank Advanced Review. Details are provided in In-Page Links in the SEO section.</span>
              </div>
            </div>

            <div class="task-links">
              <h4>External resources</h4>
              <ul>
                <li>Broken links will be among the errors listed in <a href="#" target="_blank">Google</a> and <a href="http://www.bing.com/toolbox/webmaster/" target="_blank">Bing</a> Webmaster Tools under Crawl&gt;Crawl Errors
                </li>

                <li>Free online link tools include <a href="#" target="_blank">2bone Online Link Checker</a>, <a href="#" target="_blank">Creating Online Broken Link Checker</a>, <a href="#" target="_blank">Submit Express Broken Link Checker</a> and <a href="#" target="_blank">iWeb Tool Broken Link Checker</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="task-container" data-category="mobile" id="project-task-">
        <h3 class="task-header">
          <a class="checker" data-container="#marketing-checklist" data-ga="checker" data-original-title="" data-placement="bottom" data-toggle="popover" data-trigger="focus" href="#" title="">
            <span class="icn icn-box"></span>
            <span class="icn icn-box-check"></span>
            <span class="svg-loader svg-loader-16"></span>
          </a>
          <span class="marketing-checklist-item-title">Develop a mobile friendly site version for your site
            <span class="label label-warning hidden">Top Priority</span>
          </span>
          <span class="icn icn-plus"></span>
          <span class="icn icn-minus"></span>
        </h3>

        <div class="task-content">
          <div>
            <div class="task-data">
              <span class="icns importance-3">
                <span class="icn icn-bullet-impact"></span>
                <span class="icn icn-bullet-impact"></span>
                <span class="icn icn-bullet-impact"></span>
                High impact
              </span>
              <span class="icns solvability-2">
                <span class="icn icn-gear"></span>
                <span class="icn icn-gear"></span>
                <span class="icn icn-gear"></span>
                Hard to solve for Developer
              </span>
            </div>

            <div class="task-sumary">
              <h4>Why it's important</h4>
              <p>Without a website that is optimized for mobile visitors, you are turning huge numbers of customers away. Most Internet users have access to smartphones or tablet devices, and this can be their sole internet-enabled device in some cases.</p>
              <p>Not only can you ensure your website displays correctly on mobile devices, but you can also optimize the design and layout to be more appropriate for touchscreen viewing and input.</p>
            </div>

            <div class="task-text">
              <h4>Getting it done</h4>
              <p>Consider the advantages of each solution for creating a mobile-optimized site. In many cases, responsive design offers the quickest and easiest solution.</p>
              <p>Mobile devices have a variety of screen sizes and operating systems. Check which are most popular with your current and potential audience, and prioritise optimization specifically for those screen resolutions and ratios.</p>
              <p>Check the different website behaviours of mobile users and highlight their most popular actions, such as researching phone numbers, addresses and opening times for example.</p>
              <p>Bandwith and connectivity are more important for modern mobile users than desktop consumers – check how to optimize your mobile site for speed.</p>

              <div class="task-quicktip">
                <span class="icn icn-wolf-shadow"></span>
                <span>Does your mobile site display properly and load quickly? Look in the Mobile section of your WooRank Advanced Review to check how your Mobile site displays on smartphones and tablets.</span>
              </div>
            </div>

            <div class="task-links">
              <h4>External resources</h4>
              <ul>
                <li>
                  <a href="#" target="_blank">25 Reasons Why You Should Have a Mobile Friendly Website</a>
                </li>

                <li>
                  <a href="#" target="_blank">6 Tips and 15 Free Tools to Make an Awesome Mobile Website</a>
                </li>

                <li>
                  <a href="#" target="_blank">9 Tips to Optimize Mobile Site Speed</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="show-links over-max-list">
      <a class="fake-show-more" data-container="#marketing-checklist" data-ga="more-link" data-original-title="" data-placement="bottom" data-toggle="popover" data-trigger="focus" href="#" title="">Show more</a>
    </div>
  </div>
</div>
