<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">menu<span class="caret"></span></button>
      <a class="navbar-brand" href="https://www.woorank.com">
        <svg class="icon icon-logo"><use xlink:href="#logo"></use></svg>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <p class="navbar-text small">Signed in as Pierre Abergel</p>
    </div>
  </div>
</nav>
