@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
/* BASES MIXINS*/
.custom-mobile-nav {
  display: block; }
  @media screen and (min-width: 768px) {
    #kss-node .custom-mobile-nav {
      display: none !important; } }

.custom-navbar-group {
  position: absolute;
  top: 13px;
  display: none;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  @media screen and (min-width: 768px) {
    .custom-navbar-group {
      display: block;
      min-width: 525px; } }
  .custom-navbar-group .btn-group {
    display: inline-block; }
  .custom-navbar-group .btn.btn-default {
    font-weight: 300;
    color: #888;
    border-color: #ccc;
    padding: 5px 15px; }
    .custom-navbar-group .btn.btn-default.active {
      background: #ECF3FA;
      border-color: #428BCA;
      color: #3876AC; }

/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
.pln {
  color: #000; }

/* plain text */
.str {
  color: #080; }

/* string content */
.kwd {
  color: #008; }

/* a keyword */
.com {
  color: #800; }

/* a comment */
.typ {
  color: #606; }

/* a type name */
.lit {
  color: #066; }

/* a literal value */
/* punctuation, lisp open bracket, lisp close bracket */
.pun, .opn, .clo {
  color: #660; }

.tag {
  color: #008; }

/* a markup tag name */
.atn {
  color: #606; }

/* a markup attribute name */
.atv {
  color: #080; }

/* a markup attribute value */
.dec, .var {
  color: #606; }

/* a declaration; a variable name */
.fun {
  color: red; }

/* a function name */
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #060; }
  .kwd {
    color: #006;
    font-weight: bold; }
  .com {
    color: #600;
    font-style: italic; }
  .typ {
    color: #404;
    font-weight: bold; }
  .lit {
    color: #044; }
  .pun, .opn, .clo {
    color: #440; }
  .tag {
    color: #006;
    font-weight: bold; }
  .atn {
    color: #404; }
  .atv {
    color: #060; } }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0;
  padding: 0 0 3px 0;
  list-style-type: none;
  /* Alternate shading for lines */ }
  ol.linenums li {
    border-bottom: 1px solid #eee;
    padding: 0 10px;
    background: #fff; }
    ol.linenums li:first-child {
      padding-top: 3px; }
  ol.linenums li.L0, ol.linenums li.L2, ol.linenums li.L4, ol.linenums li.L6, ol.linenums li.L8 {
    background: #fcfcfc; }

#kss-node {
  background-color: #ffffff; }
