@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
/*
Colors

There the colors used in Woorank.

More infos about colors here.

markup: markup/colors.hbs

grey-darker      #353B48    - $grey-darker
grey-dark        #434A54    - $grey-dark
grey-medium      #656D78    - $grey-medium
grey             #AAB2BD    - $grey
grey-light       #CCD1D9    - $grey-light
grey-lighter     #E6E9ED    - $grey-lighter
grey-smoke       #F5F7FA    - $grey-smoke
primary-dark     #3876AC    - $primary-dark
primary          #428BCA    - $primary
primary-light    #A0C5E4    - $primary-light
primary-lighter  #CFE2F2    - $primary-lighter
primary-smoke    #ECF3FA    - $primary-smoke
success-dark     - $success-dark
success          - $success
success-light    - $success-light
success-lighter  - $success-lighter
success-smoke    - $success-smoke
warning-dark     - $warning-dark
warning          - $warning
warning-light    - $warning-light
warning-lighter  - $warning-lighter
warning-smoke    - $warning-smoke
error-dark       - $error-dark
error            - $error
error-light      - $error-light
error-lighter    - $error-lighter
error-smoke      - $error-smoke
competitor-dark  - $competitor-dark
competitor       - $competitor
competitor-light - $competitor-light

Weight: 6

Styleguide Colors
*/
/* BASES MIXINS*/
.custom-mobile-nav {
  display: block; }
  @media screen and (min-width: 768px) {
    #kss-node .custom-mobile-nav {
      display: none !important; } }

.custom-navbar-group {
  position: absolute;
  top: 13px;
  display: none;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  @media screen and (min-width: 768px) {
    .custom-navbar-group {
      display: block;
      min-width: 525px; } }
  .custom-navbar-group .btn-group {
    display: inline-block; }
  .custom-navbar-group .btn.btn-default {
    font-weight: 300;
    color: #888;
    border-color: #ccc;
    padding: 5px 15px; }
    @media screen and (min-width: 1200px) {
      .custom-navbar-group .btn.btn-default {
        padding: 5px 20px; } }
    .custom-navbar-group .btn.btn-default.active {
      background: #ECF3FA;
      border-color: #428BCA;
      color: #3876AC; }

#kss-node {
  background-color: #F5F7FA; }
  #kss-node article.container {
    overflow: hidden;
    padding-bottom: 60px; }
    #kss-node article.container .page-header {
      text-align: center;
      border-bottom: none;
      margin-bottom: 30px; }
      #kss-node article.container .page-header a {
        color: #353B48; }
      #kss-node article.container .page-header .description {
        font-size: 1.5em;
        color: #AAB2BD;
        font-weight: 300; }
    #kss-node article.container .content {
      background: #ffffff;
      border-radius: 5px;
      padding: 30px; }
    #kss-node article.container .modifier__wrapper {
      clear: both;
      padding-bottom: 30px; }
  #kss-node .footer-section {
    clear: both;
    margin: 0 -30px;
    padding: 30px 30px 0 30px;
    border-top: 1px solid #CCD1D9; }
  #kss-node .footer-buttons {
    text-align: center; }

.markup-container {
  position: relative;
  overflow: hidden; }
  .markup-container .markup {
    clear: both; }

#section-colors {
  text-align: left; }
  #section-colors .modifier__item {
    vertical-align: top;
    display: block;
    float: left;
    position: relative;
    font-size: 12px;
    margin: 5px;
    overflow: hidden; }
    #section-colors .modifier__item:hover .modifier__color__infos {
      opacity: 1;
      -webkit-transition: opacity .5s ease;
              transition: opacity .5s ease; }
    #section-colors .modifier__item[id*="-dark-"] {
      clear: left; }
    #section-colors .modifier__item .example-color {
      display: block; }
    #section-colors .modifier__item .modifier__color__infos {
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      height: auto;
      padding: 5px;
      color: #ffffff;
      background: rgba(53, 59, 72, 0.5);
      -webkit-transition: opacity 1s ease;
              transition: opacity 1s ease; }

.example-color {
  display: none;
  height: 100px;
  width: 100px;
  background: #F5F7FA;
  border: 1px solid #CCD1D9; }
  .example-color.competitor-dark {
    background-color: #29494A;
    border-color: #172929; }
  .example-color.competitor {
    background-color: #539597;
    border-color: #417576; }
  .example-color.competitor-light {
    background-color: #AFE5E7;
    border-color: #88d8db; }
  .example-color.error-smoke {
    background-color: #FBEDED;
    border-color: #f2c3c3; }
  .example-color.error-lighter {
    background-color: #F6D4D4;
    border-color: #edaaaa; }
  .example-color.error-light {
    background-color: #ECA9A7;
    border-color: #e3807d; }
  .example-color.error {
    background-color: #D9534F;
    border-color: #c9302c; }
  .example-color.error-dark {
    background-color: #B94743;
    border-color: #943935; }
  .example-color.warning-smoke {
    background-color: #FEF5E6;
    border-color: #fce1b5; }
  .example-color.warning-lighter {
    background-color: #FEE6C8;
    border-color: #fdcf96; }
  .example-color.warning-light {
    background-color: #FBCE86;
    border-color: #f9ba55; }
  .example-color.warning {
    background-color: #F89D0E;
    border-color: #cd8006; }
  .example-color.warning-dark {
    background-color: #D3860C;
    border-color: #a36709; }
  .example-color.success-smoke {
    background-color: #EEF8EE;
    border-color: #cae9ca; }
  .example-color.success-lighter {
    background-color: #D7EDD6;
    border-color: #b4ddb3; }
  .example-color.success-light {
    background-color: #ADDBAD;
    border-color: #8acb8a; }
  .example-color.success {
    background-color: #5CB85C;
    border-color: #449d44; }
  .example-color.success-dark {
    background-color: #4E9D4E;
    border-color: #3d7b3d; }
  .example-color.primary-smoke {
    background-color: #ECF3FA;
    border-color: #c4d9ef; }
  .example-color.primary-lighter {
    background-color: #CFE2F2;
    border-color: #a7cae7; }
  .example-color.primary-light {
    background-color: #A0C5E4;
    border-color: #78add9; }
  .example-color.primary {
    background-color: #428BCA;
    border-color: #3071a9; }
  .example-color.primary-dark {
    background-color: #3876AC;
    border-color: #2b5c86; }
  .example-color.grey-darker {
    background-color: #353B48;
    border-color: #1f232b; }
  .example-color.grey-dark {
    background-color: #434A54;
    border-color: #2c3138; }
  .example-color.grey-medium {
    background-color: #656D78;
    border-color: #4e545c; }
  .example-color.grey {
    background-color: #AAB2BD;
    border-color: #8d98a7; }
  .example-color.grey-light {
    background-color: #CCD1D9;
    border-color: #afb7c3; }
  .example-color.grey-lighter {
    background-color: #E6E9ED;
    border-color: #c8cfd8; }
  .example-color.grey-smoke {
    background-color: #F5F7FA;
    border-color: #d3dce9; }

#section-componentsbuttons .modifier__example {
  display: none; }
#section-componentsbuttons .modifier__item .modifier__example {
  display: block; }

/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
.pln {
  color: #000; }

/* plain text */
.str {
  color: #080; }

/* string content */
.kwd {
  color: #008; }

/* a keyword */
.com {
  color: #800; }

/* a comment */
.typ {
  color: #606; }

/* a type name */
.lit {
  color: #066; }

/* a literal value */
/* punctuation, lisp open bracket, lisp close bracket */
.pun, .opn, .clo {
  color: #660; }

.tag {
  color: #008; }

/* a markup tag name */
.atn {
  color: #606; }

/* a markup attribute name */
.atv {
  color: #080; }

/* a markup attribute value */
.dec, .var {
  color: #606; }

/* a declaration; a variable name */
.fun {
  color: red; }

/* a function name */
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #060; }
  .kwd {
    color: #006;
    font-weight: bold; }
  .com {
    color: #600;
    font-style: italic; }
  .typ {
    color: #404;
    font-weight: bold; }
  .lit {
    color: #044; }
  .pun, .opn, .clo {
    color: #440; }
  .tag {
    color: #006;
    font-weight: bold; }
  .atn {
    color: #404; }
  .atv {
    color: #060; } }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0;
  padding: 0 0 3px 0;
  list-style-type: none;
  /* Alternate shading for lines */ }
  ol.linenums li {
    border-bottom: 1px solid #eee;
    padding: 0 10px;
    background: #fff; }
    ol.linenums li:first-child {
      padding-top: 3px; }
  ol.linenums li.L0, ol.linenums li.L2, ol.linenums li.L4, ol.linenums li.L6, ol.linenums li.L8 {
    background: #fcfcfc; }
