@charset "UTF-8";

// Jobs page

body.developers {
  background-color: $white;
}

.dev-assets-imgs {
  clear: both;
  background-color: $white;

  img {
    display: block;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #eee;
    height: auto;
  }

  .logo {
    padding-top: 10px;
  }
}
