// Home page

body.home {
  background-color: $bg;

  .navbar {
    &.navbar-fixed-top {
      opacity: 1;
      position: fixed;
      top: 0;
      transition: opacity 300ms linear, top 300ms linear;

      &.navbar-hidden {
        opacity: 0;
        top: -61px;
        transition: opacity 300ms linear, top 300ms linear;
      }

      .ip-blocked-button-container,
      .cookie-blocked-button-container {
        padding-top: 15px;

        .btn-warning {
          color: $white;
        }
      }
    }
  }

  .tooltip-inner {
    max-width: none;
  }

  .generation-bar {
    .wait {
      display: none;
    }

    &.waiting-for-ajax {
      .ready {
        display: none;
      }
      .wait {
        display: block;
      }
    }
  }

  .features-container {
    margin-bottom: 30px;

    &#features {
      margin-top: 30px;
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      width: 100%;
    }

    .score-illustration {
      position: absolute;
      right: 5%;
      top: -10%;
      width: 25%;
    }

    .container {
      padding-left: 0;
      padding-right: 0;

      @include breakpoint($screen-sm) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .features-content-col {
    border-top: 1px solid $border-color-light;
    padding: 15px 30px;

    @include breakpoint($screen-sm) {
      border-left: 1px solid $border-color-light;
      border-top: none;
    }

    .icon.icon-chevron-right {
      margin-left: 5px;
      position: relative;
      top: -1px;
    }

    .features-title {
      color: $title-color;
      font-size: 20px;
    }
  }

  .features-illustration-col {
    @include breakpoint($screen-sm) {
      border-right: 1px solid $border-color-light;
      margin-right: -1px;
    }
  }

  .generation-bar-container {
    padding-bottom: 60px;
  }
}
