/* Pretty printing styles. Used with prettify.js. */

.pln {
  color: #000;
}

.str {
  color: #080;
}

.kwd {
  color: #008;
}

.com {
  color: #800;
}

.typ {
  color: #606;
}

.lit {
  color: #066;
}

.pun,
.opn,
.clo {
  color: #660;
}

.tag-element {
  color: #88f;
  white-space: nowrap;
}

.atn {
  color: #606;
}

.atv {
  color: #080;
}

.dec,
.var {
  color: #606;
}

.fun { color: red; }

@media print, projection {
  .str {
    color: #060;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #044;
  }

  .pun,
  .opn,
  .clo {
    color: #440;
  }

  .tag-element {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #404;
  }

  .atv {
    color: #060;
  }
}

ol.linenums {
  margin: 0;
  padding: 0 0 3px;
  list-style-type: none;

  li {
    border-bottom: 1px solid #eee;
    padding: 0 10px;
    background: #fff;

    &:first-child {
      padding-top: 3px;
    }
  }

  li.L0,
  li.L2,
  li.L4,
  li.L6,
  li.L8 {
    background: #fcfcfc;
  }
}
