/*
Colors

There the colors used in Woorank.

More infos about colors here.

Markup: markup/colors.hbs

grey-darker      #353B48    - $grey-darker
grey-dark        #434A54    - $grey-dark
grey-medium      #656D78    - $grey-medium
grey             #AAB2BD    - $grey
grey-light       #CCD1D9    - $grey-light
grey-lighter     #E6E9ED    - $grey-lighter
grey-smoke       #F5F7FA    - $grey-smoke
clear                       - clear
primary-dark     #3876AC    - $primary-dark
primary          #428BCA    - $primary
primary-light    #A0C5E4    - $primary-light
primary-lighter  #CFE2F2    - $primary-lighter
primary-smoke    #ECF3FA    - $primary-smoke
clear                       - clear
success-dark     #4E9D4E    - $success-dark
success          #5CB85C    - $success
success-light    #ADDBAD    - $success-light
success-lighter  #D7EDD6    - $success-lighter
success-smoke    #EEF8EE    - $success-smoke
clear                       - clear
warning-dark     #D3860C    - $warning-dark
warning          #F89D0E    - $warning
warning-light    #FBCE86    - $warning-light
warning-lighter  #FEE6C8    - $warning-lighter
warning-smoke    #FEF5E6    - $warning-smoke
clear                       - clear
error-dark       #B94743    - $error-dark
error            #D9534F    - $error
error-light      #ECA9A7    - $error-light
error-lighter    #F6D4D4    - $error-lighter
error-smoke      #FBEDED    - $error-smoke
clear                       - clear
competitor-dark  #AFE5E7    - $competitor-dark
competitor       #539597    - $competitor
competitor-light #29494A    - $competitor-light

Weight: 6

Styleguide Colors
*/

// Colors values
$black            : #000000;
$white            : #ffffff;

$grey-smoke       : #F5F7FA;
$grey-lighter     : #E6E9ED;
$grey-light       : #CCD1D9;
$grey             : #AAB2BD;
$grey-medium      : #656D78;
$grey-dark        : #434A54;
$grey-darker      : #353B48;

$primary-dark     : #3876AC;
$primary          : #428BCA;
$primary-light    : #A0C5E4;
$primary-lighter  : #CFE2F2;
$primary-smoke    : #ECF3FA;

// Primary alias
$info-dark        : $primary-dark;
$info             : $primary;
$info-light       : $primary-light;
$info-lighter     : $primary-lighter;
$info-smoke       : $primary-smoke;

$success-dark     : #4E9D4E;
$success          : #5CB85C;
$success-light    : #ADDBAD;
$success-lighter  : #D7EDD6;
$success-smoke    : #EEF8EE;

$warning-dark     : #D3860C;
$warning          : #F89D0E;
$warning-light    : #FBCE86;
$warning-lighter  : #FEE6C8;
$warning-smoke    : #FEF5E6;

$error-dark       : #B94743;
$error            : #D9534F;
$error-light      : #ECA9A7;
$error-lighter    : #F6D4D4;
$error-smoke      : #FBEDED;

$competitor-light : #AFE5E7;
$competitor       : #539597;
$competitor-dark  : #29494A;

// Colors Links
$active-bg         : $primary-smoke;
$active-border     : $primary-lighter;
$active-color      : $primary-dark;
$bg                : $grey-smoke;
$border-color      : $grey-light;
$border-color-light: $grey-lighter;
$disabled-color    : $grey-light;
$hover-bg          : $grey-smoke;
$hover-border      : $grey-lighter;
$hover-color       : $grey-medium;
$link-color        : $primary;
$link-color-hover  : $primary-dark;
$text-color        : $grey-medium;
$text-color-light  : $grey;
$title-color       : $grey-darker;

// Colors list
$colors:
  ('white', $white),
  ('black', $black),
  ('competitor-dark', $competitor-dark),
  ('competitor', $competitor),
  ('competitor-light', $competitor-light),
  ('error-smoke', $error-smoke),
  ('error-lighter', $error-lighter),
  ('error-light', $error-light),
  ('error', $error),
  ('error-dark', $error-dark),
  ('warning-smoke', $warning-smoke),
  ('warning-lighter', $warning-lighter),
  ('warning-light', $warning-light),
  ('warning', $warning),
  ('warning-dark', $warning-dark),
  ('success-smoke', $success-smoke),
  ('success-lighter', $success-lighter),
  ('success-light', $success-light),
  ('success', $success),
  ('success-dark', $success-dark),
  ('primary-smoke', $primary-smoke),
  ('primary-lighter', $primary-lighter),
  ('primary-light', $primary-light),
  ('primary', $primary),
  ('primary-dark', $primary-dark),
  ('info-smoke', $info-smoke),
  ('info-light', $info-light),
  ('info-lighter', $info-lighter),
  ('info', $info),
  ('info-dark', $info-dark),
  ('grey-darker', $grey-darker),
  ('grey-dark', $grey-dark),
  ('grey-medium', $grey-medium),
  ('grey', $grey),
  ('grey-light', $grey-light),
  ('grey-lighter', $grey-lighter),
  ('grey-smoke', $grey-smoke);

$basicColors:
  ('primary', $primary),
  ('success', $success),
  ('warning', $warning),
  ('error', $error);
