/*
Woorank Colors

There the colors used in Woorank.

Main colors: `grey`, `primary`, `success`, `warning`, `error` (or `danger`).
You can use variant tones: `dark`, 'light', 'lighter' and `smoke`.
Grey color got is `darker` and `medium` tone.
Additional colors use only to describe competitors:  `competitor`, `competitor-light` and `competitor-dark`.

Markup:
<div class="example-color {{modifier_class}}"></div>

grey-darker      #353B48    - $grey-darker
grey-dark        #434A54    - $grey-dark
grey-medium      #656D78    - $grey-medium
grey             #AAB2BD    - $grey
grey-light       #CCD1D9    - $grey-light
grey-lighter     #E6E9ED    - $grey-lighter
grey-smoke       #F5F7FA    - $grey-smoke
primary-dark     #3876AC    - $primary-dark
primary          #428BCA    - $primary
primary-light    #A0C5E4    - $primary-light
primary-lighter  #CFE2F2    - $primary-lighter
primary-smoke    #ECF3FA    - $primary-smoke
success-dark     #4E9D4E    - $success-dark
success          #5CB85C    - $success
success-light    #ADDBAD    - $success-light
success-lighter  #D7EDD6    - $success-lighter
success-smoke    #EEF8EE    - $success-smoke
warning-dark     #D3860C    - $warning-dark
warning          #F89D0E    - $warning
warning-light    #FBCE86    - $warning-light
warning-lighter  #FEE6C8    - $warning-lighter
warning-smoke    #FEF5E6    - $warning-smoke
error-dark       #B94743    - $error-dark
error            #D9534F    - $error
error-light      #ECA9A7    - $error-light
error-lighter    #F6D4D4    - $error-lighter
error-smoke      #FBEDED    - $error-smoke
competitor-dark  #29494A    - $competitor-dark
competitor       #539597    - $competitor
competitor-light #AFE5E7    - $competitor-light

Weight: 1

Styleguide Colors.Woorank-Colors
*/

// Colors values
$black            : #000000;
$white            : #ffffff;

$grey-smoke       : #F5F7FA;
$grey-lighter     : #E6E9ED;
$grey-light       : #CCD1D9;
$grey             : #AAB2BD;
$grey-medium      : #656D78;
$grey-dark        : #434A54;
$grey-darker      : #353B48;

$primary-dark     : #3876AC;
$primary          : #428BCA;
$primary-light    : #A0C5E4;
$primary-lighter  : #CFE2F2;
$primary-smoke    : #ECF3FA;

// Primary alias
$info-dark        : $primary-dark;
$info             : $primary;
$info-light       : $primary-light;
$info-lighter     : $primary-lighter;
$info-smoke       : $primary-smoke;

$success-dark     : #4E9D4E;
$success          : #5CB85C;
$success-light    : #ADDBAD;
$success-lighter  : #D7EDD6;
$success-smoke    : #EEF8EE;

$warning-dark     : #D3860C;
$warning          : #F89D0E;
$warning-light    : #FBCE86;
$warning-lighter  : #FEE6C8;
$warning-smoke    : #FEF5E6;

$error-dark       : #B94743;
$error            : #D9534F;
$error-light      : #ECA9A7;
$error-lighter    : #F6D4D4;
$error-smoke      : #FBEDED;

$danger-dark      : $error-dark;
$danger           : $error;
$danger-light     : $error-light;
$danger-lighter   : $error-lighter;
$danger-smoke     : $error-smoke;

$competitor-light : #AFE5E7;
$competitor       : #539597;
$competitor-dark  : #29494A;

// Colors Links
$active-bg         : $primary-smoke;
$active-border     : $primary-lighter;
$active-color      : $primary-dark;
$bg                : $grey-smoke;
$border-color      : $grey-light;
$border-color-light: $grey-lighter;
$disabled-color    : $grey-light;
$hover-bg          : $grey-smoke;
$hover-border      : $grey-lighter;
$hover-color       : $grey-medium;
$link-color        : $primary;
$link-color-hover  : $primary-dark;
$text-color        : $grey-medium;
$text-color-light  : $grey;
$title-color       : $grey-darker;

// Colors list
$colors:
  ('white', $white),
  ('black', $black),
  ('competitor-dark', $competitor-dark),
  ('competitor', $competitor),
  ('competitor-light', $competitor-light),
  ('error-smoke', $error-smoke),
  ('error-lighter', $error-lighter),
  ('error-light', $error-light),
  ('error', $error),
  ('error-dark', $error-dark),
  ('warning-smoke', $warning-smoke),
  ('warning-lighter', $warning-lighter),
  ('warning-light', $warning-light),
  ('warning', $warning),
  ('warning-dark', $warning-dark),
  ('success-smoke', $success-smoke),
  ('success-lighter', $success-lighter),
  ('success-light', $success-light),
  ('success', $success),
  ('success-dark', $success-dark),
  ('primary-smoke', $primary-smoke),
  ('primary-lighter', $primary-lighter),
  ('primary-light', $primary-light),
  ('primary', $primary),
  ('primary-dark', $primary-dark),
  ('info-smoke', $info-smoke),
  ('info-light', $info-light),
  ('info-lighter', $info-lighter),
  ('info', $info),
  ('info-dark', $info-dark),
  ('grey-darker', $grey-darker),
  ('grey-dark', $grey-dark),
  ('grey-medium', $grey-medium),
  ('grey', $grey),
  ('grey-light', $grey-light),
  ('grey-lighter', $grey-lighter),
  ('grey-smoke', $grey-smoke);

$basicColors:
  ('primary', $primary),
  ('success', $success),
  ('warning', $warning),
  ('error', $error);

$lighterColors: (
  'primary-lighter', 'primary-smoke',
  'success-lighter', 'success-smoke',
  'warning-lighter', 'warning-smoke',
  'error-lighter', 'error-smoke',
  'grey-lighter', 'grey-smoke'
);

$primaryColors: (
  'primary',
  'success',
  'warning',
  'error',
  'grey'
);

$colorsMap: (
  primary: (
    "primary-dark": $primary-dark,
    "primary-light": $primary-light,
    "primary-lighter": $primary-lighter,
    "primary-smoke": $primary-smoke
  ),
  success: (
    "success-dark": $success-dark,
    "success-light": $success-light,
    "success-lighter": $success-lighter,
    "success-smoke": $success-smoke
  ),
  warning: (
    "warning-dark": $warning-dark,
    "warning-light": $warning-light,
    "warning-lighter": $warning-lighter,
    "warning-smoke": $warning-smoke
  ),
  error: (
    "error-dark": $error-dark,
    "error-light": $error-light,
    "error-lighter": $error-lighter,
    "error-smoke": $error-smoke
  ),
  grey: (
    "grey-darker": $grey-darker,
    "grey-dark": $grey-dark,
    "grey-medium": $grey-medium,
    "grey-light": $grey-light,
    "grey-lighter": $grey-lighter,
    "grey-smoke": $grey-smoke
  ),
);
