// Colors helpers

@each $color, $colorValue in $colors {
  .color-#{$color} {
    color: $colorValue;
  }
  .fill-#{$color} {
    fill: $colorValue;
  }
  .background-#{$color} {
    background-color: $colorValue;
  }
}

@each $color, $colorValue in $thirdPartyColors {
  .color-#{$color} {
    color: $colorValue;
  }
  .fill-#{$color} {
    fill: $colorValue;
  }
  .background-#{$color} {
    background-color: $colorValue;
  }
}
