/*
Helpers

You can set any **available** colors using classes likes: `color-primary`, `background-primary` or `fill-primary`

Use: `.background-`, `.fill-` or `.color-` + any **available** colors.
You can force a custom color by adding a `-important` as class suffix.

Markup:
<div class="page-header background-primary-smoke">
  <h1 class="color-primary-important">
    <svg class="icon icon-conversation icon-medium fill-primary">
      <use xlink:href="#conversation"></use>
    </svg>
    Title with custom icon fill, background and text color.
  </h1>
</div>

Weight: 3

Styleguide Colors.Helpers
*/

@each $color, $colorValue in $colors {
  .color-#{$color} {
    color: $colorValue;
  }
  .fill-#{$color} {
    fill: $colorValue;
  }
  .background-#{$color} {
    background-color: $colorValue;
  }

  // forced colors
  .color-#{$color}-important {
    color: $colorValue !important;
  }
  .fill-#{$color}-important {
    fill: $colorValue !important;
  }
  .background-#{$color}-important {
    background-color: $colorValue !important;
  }
}

@each $color, $colorValue in $thirdPartyColors {
  .color-#{$color} {
    color: $colorValue;
  }
  .fill-#{$color} {
    fill: $colorValue;
  }
  .background-#{$color} {
    background-color: $colorValue;
  }

  // forced colors
  .color-#{$color}-important {
    color: $colorValue !important;
  }
  .fill-#{$color}-important {
    fill: $colorValue !important;
  }
  .background-#{$color}-important {
    background-color: $colorValue !important;
  }
}

@each $color, $colorValue in $marketingColors {
  .color-#{$color} {
    color: $colorValue;
  }
  .fill-#{$color} {
    fill: $colorValue;
  }
  .background-#{$color} {
    background-color: $colorValue;
  }

  // forced colors
  .color-#{$color}-important {
    color: $colorValue !important;
  }
  .fill-#{$color}-important {
    fill: $colorValue !important;
  }
  .background-#{$color}-important {
    background-color: $colorValue !important;
  }
}
