/*
Basic Colors

~

Main colors: `grey`, `primary`, `success`, `warning`, `error` (or `danger`).
You can use variant tones: `dark`, 'light', 'lighter' and `smoke`.
Grey color got is `darker` and `medium` tone.
Additional colors use only to describe competitors:  `competitor`, `competitor-light` and `competitor-dark`.

Markup:
<div class="example-color {{modifier_class}}"></div>

grey-darker      #353b48    - $grey-darker
grey-dark        #434a54    - $grey-dark
grey-medium      #656d78    - $grey-medium
grey             #aab2bd    - $grey
grey-light       #ccd1d9    - $grey-light
grey-lighter     #e6e9ed    - $grey-lighter
grey-smoke       #f5f7fa    - $grey-smoke
primary-darker   #2B5C86    - $primary-darker
primary-dark     #3876ac    - $primary-dark
primary          #428bca    - $primary
primary-light    #a0c5e4    - $primary-light
primary-lighter  #cfe2f2    - $primary-lighter
primary-smoke    #ecf3fa    - $primary-smoke
success-dark     #4e9d4e    - $success-dark
success          #5cb85c    - $success
success-light    #addbad    - $success-light
success-lighter  #d7edd6    - $success-lighter
success-smoke    #eef8ee    - $success-smoke
warning-dark     #d3860c    - $warning-dark
warning          #f89d0e    - $warning
warning-light    #fbce86    - $warning-light
warning-lighter  #fee6c8    - $warning-lighter
warning-smoke    #fef5e6    - $warning-smoke
error-dark       #b94743    - $error-dark
error            #d9534f    - $error
error-light      #eca9a7    - $error-light
error-lighter    #f6d4d4    - $error-lighter
error-smoke      #fbeded    - $error-smoke
turquoise-dark   #34AD99    - $turquoise-dark
turquoise        #4FCEB9    - $turquoise
emerald-dark     #27AE60    - $emerald-dark
emerald          #2ECC71    - $emerald
amethyst-dark    #836990    - $amethyst-dark
amethyst         #9476A3    - $amethyst
competitor-dark  #29494a    - $competitor-dark
competitor       #539597    - $competitor
competitor-light #afe5e7    - $competitor-light

Weight: 1

Styleguide Colors.Woorank-Colors
*/

/* Colors values */
$black            : #000;
$white            : #fff;

$grey-smoke       : #f5f7fa;
$grey-lighter     : #e6e9ed;
$grey-light       : #ccd1d9;
$grey             : #aab2bd;
$grey-medium      : #656d78;
$grey-dark        : #434a54;
$grey-darker      : #353b48;

$primary-darker   : #2B5C86;
$primary-dark     : #3876ac;
$primary          : #428bca;
$primary-light    : #a0c5e4;
$primary-lighter  : #cfe2f2;
$primary-smoke    : #ecf3fa;

/* Primary alias */
$info-dark        : $primary-dark;
$info             : $primary;
$info-light       : $primary-light;
$info-lighter     : $primary-lighter;
$info-smoke       : $primary-smoke;

$success-dark     : #4e9d4e;
$success          : #5cb85c;
$success-light    : #addbad;
$success-lighter  : #d7edd6;
$success-smoke    : #eef8ee;

$warning-dark     : #d3860c;
$warning          : #f89d0e;
$warning-light    : #fbce86;
$warning-lighter  : #fee6c8;
$warning-smoke    : #fef5e6;

$error-dark       : #b94743;
$error            : #d9534f;
$error-light      : #eca9a7;
$error-lighter    : #f6d4d4;
$error-smoke      : #fbeded;

$danger-dark      : $error-dark;
$danger           : $error;
$danger-light     : $error-light;
$danger-lighter   : $error-lighter;
$danger-smoke     : $error-smoke;

$competitor-light : #afe5e7;
$competitor       : #539597;
$competitor-dark  : #29494a;

/* Flat Colors */
$turquoise        : #4FCEB9;
$turquoise-dark   : #34AD99;

$emerald          : #2ECC71;
$emerald-dark     : #27AE60;

$amethyst         : #9476A3;
$amethyst-dark    : #836990;

/* Colors Links */
$active-bg         : $primary-smoke;
$active-border     : $primary-lighter;
$active-color      : $primary-dark;
$bg                : $grey-smoke;
$border-color      : $grey-light;
$border-color-light: $grey-lighter;
$disabled-color    : $grey-light;
$hover-bg          : $grey-smoke;
$hover-border      : $grey-lighter;
$hover-color       : $grey-medium;
$link-color        : $primary;
$link-color-hover  : $primary-dark;
$text-color        : $grey-medium;
$text-color-light  : $grey;
$title-color       : $grey-darker;

/* Colors list */
$colors:
  ('white', $white),
  ('black', $black),
  ('competitor-dark', $competitor-dark),
  ('competitor', $competitor),
  ('competitor-light', $competitor-light),
  ('danger-smoke', $danger-smoke),
  ('danger-lighter', $danger-lighter),
  ('danger-light', $danger-light),
  ('danger', $danger),
  ('danger-dark', $danger-dark),
  ('error-smoke', $error-smoke),
  ('error-lighter', $error-lighter),
  ('error-light', $error-light),
  ('error', $error),
  ('error-dark', $error-dark),
  ('warning-smoke', $warning-smoke),
  ('warning-lighter', $warning-lighter),
  ('warning-light', $warning-light),
  ('warning', $warning),
  ('warning-dark', $warning-dark),
  ('success-smoke', $success-smoke),
  ('success-lighter', $success-lighter),
  ('success-light', $success-light),
  ('success', $success),
  ('success-dark', $success-dark),
  ('primary-smoke', $primary-smoke),
  ('primary-lighter', $primary-lighter),
  ('primary-light', $primary-light),
  ('primary', $primary),
  ('primary-dark', $primary-dark),
  ('primary-darker', $primary-darker),
  ('info-smoke', $info-smoke),
  ('info-light', $info-light),
  ('info-lighter', $info-lighter),
  ('info', $info),
  ('info-dark', $info-dark),
  ('grey-darker', $grey-darker),
  ('grey-dark', $grey-dark),
  ('grey-medium', $grey-medium),
  ('grey', $grey),
  ('grey-light', $grey-light),
  ('grey-lighter', $grey-lighter),
  ('grey-smoke', $grey-smoke),
  ('turquoise',$turquoise),
  ('turquoise-dark',$turquoise-dark),
  ('emerald',$emerald),
  ('emerald-dark',$emerald-dark),
  ('amethyst',$amethyst),
  ('amethyst-dark',$amethyst-dark);

$basicColors:
  ('primary', $primary),
  ('success', $success),
  ('warning', $warning),
  ('error', $error),
  ('turquoise', $turquoise),
  ('emerald', $emerald),
  ('amethyst', $amethyst);

$lighterColors: (
  'primary-lighter', 'primary-smoke',
  'success-lighter', 'success-smoke',
  'warning-lighter', 'warning-smoke',
  'error-lighter', 'error-smoke',
  'grey-lighter', 'grey-smoke'
);

$primaryColors: (
  'primary',
  'success',
  'warning',
  'error',
  'grey',
  'turquoise',
  'emerald',
  'amethyst'
);

$colorsMap: (
  primary: (
    "primary-dark": $primary-dark,
    "primary-light": $primary-light,
    "primary-lighter": $primary-lighter,
    "primary-smoke": $primary-smoke,
    "primary-darker": $primary-darker,
  ),
  success: (
    "success-dark": $success-dark,
    "success-light": $success-light,
    "success-lighter": $success-lighter,
    "success-smoke": $success-smoke
  ),
  warning: (
    "warning-dark": $warning-dark,
    "warning-light": $warning-light,
    "warning-lighter": $warning-lighter,
    "warning-smoke": $warning-smoke
  ),
  error: (
    "error-dark": $error-dark,
    "error-light": $error-light,
    "error-lighter": $error-lighter,
    "error-smoke": $error-smoke
  ),
  grey: (
    "grey-darker": $grey-darker,
    "grey-dark": $grey-dark,
    "grey-medium": $grey-medium,
    "grey-light": $grey-light,
    "grey-lighter": $grey-lighter,
    "grey-smoke": $grey-smoke
  ),
  turquoise: (
    "turquoise-dark": $turquoise-dark,
  ),
  emerald: (
    "emerald-dark": $emerald-dark,
  ),
  amethyst: (
    "amethyst-dark": $amethyst-dark,
  )
);
