.woo-issue-counter {
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 25px;
  position: relative;
  text-align: center;

  &.active, &:hover {
      background: rgba(0, 0, 0, 0.05);
      border: 1px solid $border-color;
  }

  .woo-issue-counter-amount {
    color: $error-dark;
    font-size: 48px;
  }

  .woo-issue-counter-label {
    font-weight: bold;
    color: $grey-medium;
  }

  .woo-issue-counter-icon {
    display: none;
  }

  &.active .woo-issue-counter-icon {
    display: block;
    fill: rgba(0,0,0,0.2);
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.woo-issue-link {
  &:hover {
    text-decoration: none;
    span.woo-issue-counter-label {
      text-decoration: underline;
    }
    cursor: pointer;
  }

  span.woo-issue-counter-label {
    color: $link-color;
  }
}
