.woo-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;

  &.woo-label-default {
    background-color: $grey-smoke;
    color: $grey;
  }

  &.woo-label-primary {
    background-color: $primary-smoke;
    color: $primary-dark;
  }

  &.woo-label-success {
    background-color: $success-smoke;
    color: $success-dark;
  }

  &.woo-label-warning {
    background-color: $warning-smoke;
    color: $warning-dark;
  }

  &.woo-label-danger {
    background-color: $error-smoke;
    color: $error-dark;
  }
}

