.woo-badge {
  display: inline-block;
  background-color: white;
  border: 1px solid currentColor;
  border-radius: 60px;
  min-width: 30px;
  text-align: center;
  line-height: 30px;
  padding: 0 5px;

  .woo-icon {
    fill: currentColor;
    stroke: currentColor;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
  }
}

