.woo-left-nav-bar {
  display: flex;
  flex-direction: column;

  @include breakpoint($screen-xs, true) {
    flex-direction: row;
    justify-content: space-around;

    .woo-left-nav-link {
      flex-grow: 1;
    }
  }

  .woo-left-nav-link {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    white-space: nowrap;

    &.active, &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
}
