.woo-badge {
  display: inline-block;
  background-color: white;
  border: 1px solid currentColor;
  border-radius: 50px;
  min-width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  padding: 0 5px;
}

