/*
Blogroll

Markup:
<a href="/structures/blogroll.html" target="_blank" class="structures-demo" title="Open Blogroll Template Example in a new tab.">
  <div class="browser">
    <div class="browser-inner">
      <img src="/assets/img/structures/blogroll-preview.png" alt="" />
    </div>
  </div>
</a>

Weight: 1

Styleguide Structures.Blogroll
*/

body.blogroll {
  background-color: $grey-smoke;
}
