/*
Blog Post

Markup:
<a href="/structures/blog-post.html" target="_blank" class="structures-demo" title="Open Blog Post Template Example in a new tab.">
  <div class="browser">
    <span class="browser-buttons one"></span>
    <span class="browser-buttons two"></span>
    <span class="browser-buttons three"></span>
    <img src="/assets/img/structures/blog-post-preview.png" alt="" />
  </div>
</a>

Weight: 2

Styleguide Structures.Blog-Post
*/

body.blog-post {
  background-color: $white;
}
