/*
Blog Post

Markup:
<a href="/structures/blog-post.html" target="_blank" class="structures-demo" title="Open Blog Post Template Example in a new tab.">
  <div class="browser">
    <div class="browser-inner">
      <img src="/assets/img/structures/blog-post-preview.png" alt="" />
    </div>
  </div>
</a>

Weight: 2

Styleguide Structures.Blog-Post

*/

body.blog-post {
  background-color: $white;

  .featured-img {
    clear: both;
    text-align: center;

    img {
      display: block;
      width: 100%;
      height: auto;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  .page-container {
    main {
      padding: 30px 0;
      font-weight: 400;
      font-size: 1.2em;
      display: block;
    }

    h2 {
      font-weight: $font-weight-bold;
    }

    ul {
      position: relative;
      padding-left: 0;

      li {
        list-style: none;
        display: block;
        margin: 0 0 0 30px;
      }

      li::before {
        position: absolute;
        color: $grey;
        content: "•";
        font-size: 15px;
        left: 10px;
      }

      ul {
        margin: 18px 0 18px 30px;

        li::before {
          content: "◦";
        }
      }
    }

    img {
      display: block;
      max-width: 100%;
      margin: 30px auto;
    }

    .blog-article-author-picture {
      img {
        margin: auto;
      }
    }
  }
}
