/*
Homepage

Markup:
<a href="/structures/homepage.html" target="_blank" class="structures-demo" title="Open Homepage Template Example in a new tab.">
  <div class="browser">
    <div class="browser-inner">
      <img src="/assets/img/structures/mozaic-preview.png" alt="" />
    </div>
  </div>
</a>

Weight: 1

Styleguide Structures.Homepage
*/

body.homepage {
  background-color: $primary-smoke;
  padding-top: 60px; // Force navbar-fixed-top space
}
