/*
Landing

Styleguide Structures.Landing
*/

.page-container {
  margin-top: 1px;
  background-color: $white;
  padding: 0 30px 30px;
}

.page-narrow {
  max-width: 720px;
  margin: 1px auto 0 auto;
  padding: 40px 0;
}
