/*
Mozaic

Markup:
<a href="/structures/mozaic.html" target="_blank" class="structures-demo" title="Open Mozaic Template Example in a new tab.">
  <div class="browser">
    <span class="browser-buttons one"></span>
    <span class="browser-buttons two"></span>
    <span class="browser-buttons three"></span>
    <div class="browser-inner">
      <img src="/assets/img/structures/mozaic-preview.png" alt="" />
    </div>
  </div>
</a>

Weight: 3

Styleguide Structures.Mozaic
*/

body.mozaic {
  background-color: $white;
}
