@charset "UTF-8";

/*
Headings

All HTML headings, h1 through h6, are available. .h1 through .h6 classes are also available,
for when you want to match the font styling of a heading but still want your text to be displayed inline.

Markup:
<h1>h1. Bootstrap heading</h1>
<h2>h2. Bootstrap heading</h2>
<h3>h3. Bootstrap heading</h3>
<h4>h4. Bootstrap heading</h4>
<h5>h5. Bootstrap heading</h5>
<h6>h6. Bootstrap heading</h6>
<h1>h1. Bootstrap heading <small>Secondary text</small></h1>
<h2>h2. Bootstrap heading <small>Secondary text</small></h2>
<h3>h3. Bootstrap heading <small>Secondary text</small></h3>
<h4>h4. Bootstrap heading <small>Secondary text</small></h4>
<h5>h5. Bootstrap heading <small>Secondary text</small></h5>
<h6>h6. Bootstrap heading <small>Secondary text</small></h6>

Styleguide Typography.Headings
*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 600;
}

h5, .h5 {
  font-size: 16px;
}

/*
Body Copy

Markup:
<p>
  Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque
  penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam
  id dolor id nibh ultricies vehicula.
</p>
<p><strong>This text is strong</strong></p>


Styleguide Typography.Body Copy
*/

p {
  line-height: 1.6;
}

/*
Logged in Pages & Reviews

Markup:
<div class="logged">
  <p>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </p>
  <p><strong>This text is strong</strong></p>
</div>

Styleguide Typography.Logged in Pages & Reviews
*/

.logged {
  p {
    font-size: 13px;
    line-heihgt: 1.54;
  }
}

/*
Code in body

Markup:
<pre>
  int main(void) {
      printf("hello, world\n");
      return 0;
  }
</pre>

Styleguide Typography.Code in body
*/

/*
Lead Body Copy

Markup:
<p class="lead">
  Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
  Duis mollis, est non commodo luctus.
</p>

Styleguide Typography.Lead Body Copy
*/

/*
Inline Text

Styleguide Typography.Inline Text
*/

/*
Marked text

For highlighting a run of text due to its relevance in another context, use the mark tag.

Markup:
You can use the mark tag to <mark>highlight</mark> text.

Styleguide Typography.Marked text
*/

/*
Deleted text

For indicating blocks of text that have been deleted use the del tag.

Markup:
<del>
  This line of text is meant to be treated as deleted text.
</del>

Styleguide Typography.Deleted text
*/

/*
Strikethrough text

For indicating blocks of text that are no longer relevant use the s tag.

Markup:
<s>
  This line of text is meant to be treated as no longer accurate.
</s>

Styleguide Typography.Strikethrough text
*/

/*
Inserted text

For indicating additions to the document use the ins tag.

Markup:
<ins>
  This line of text is meant to be treated as an addition to the document.
</ins>

Styleguide Typography.Strikethrough text
*/

/*
Underlined text

To underline text use the u tag.

Markup:
<u>This line of text will render as underlined</u>

Styleguide Typography.Underlined text
*/

/*
Small text

For de-emphasizing inline or blocks of text, use the small tag to set text at 85% the size of the parent.
Heading elements receive their own font-size for nested small elements.

Markup:
<small>
  This line of text is meant to be treated as fine print.
</small>

Styleguide Typography.Small text
*/

/*
Bold

For emphasizing a snippet of text with a heavier font-weight.

Markup:
The following snippet of text is <strong>rendered as bold text</strong>

Styleguide Typography.Bold
*/

/*
Italics

For emphasizing a snippet of text with italics.

Markup:
The following snippet of text is <em>rendered as italicized text</em>

Styleguide Typography.Italics
*/

/*
Emphasis classes

.text-muted   - Muted text
.text-primary - Primary text
.text-success - Successful text
.text-info    - Info text
.text-warning - Warning text
.text-danger  - Danger text

Markup:
<p class="{$modifiers}">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

Styleguide Typography.Emphasis classes
*/

/*
Alignment

Easily realign text to components with text alignment classes.

Markup:
<p class="text-left">Left aligned text.</p>
<p class="text-center">Center aligned text.</p>
<p class="text-right">Right aligned text.</p>
<p class="text-justify">Justified text.</p>
<p class="text-nowrap">No wrap text.</p>

Styleguide Typography.Alignment
*/

/*
Transformation

Transform text in components with text capitalization classes.

Markup:
<p class="text-lowercase">Lowercased text.</p>
<p class="text-uppercase">Uppercased text.</p>
<p class="text-capitalize">Capitalized text.</p>

Styleguide Typography.Transformation
*/

/*
Abbreviation

Add .initialism to an abbreviation for a slightly smaller font-size.

Markup:
<p>
  An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>
</p>
<p>
  <abbr title="HyperText Markup Language" class="initialism">HTML</abbr>
  is the best thing since sliced bread.
</p>

Styleguide Typography.Abbreviation
*/

/*
Addresses

Present contact information for the nearest ancestor or the entire body of work.
Preserve formatting by ending all lines with br.

Markup:
<address>
  <strong>Twitter, Inc.</strong><br>
  795 Folsom Ave, Suite 600<br>
  San Francisco, CA 94107<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>
<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">first.last@example.com</a>
</address>

Styleguide Typography.Addresses
*/

/*
Blockquote

Styleguide Typography.Bloquote
*/

/*
Default

Markup:
<blockquote>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
    erat a ante.
  </p>
</blockquote>

Styleguide Typography.Bloquote.Default
*/

/*
Naming a source

Markup:
<blockquote>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
    erat a ante.
  </p>
  <footer>
    Someone famous in <cite title="Source Title">Source Title</cite>
  </footer>
</blockquote>

Styleguide Typography.Bloquote.Naming a source
*/

/*
Alternate displays

Markup:
<blockquote class="blockquote-reverse">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
    erat a ante.
  </p>
  <footer>
    Someone famous in <cite title="Source Title">Source Title</cite>
  </footer>
</blockquote>

Styleguide Typography.Bloquote.Alternate displays
*/

/*
Lists

Styleguide Typography.Lists
*/

/*
Unordered

A list of items in which the order does not explicitly matter.

Markup:
<ul class="ul">
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipiscing elit</li>
  <li>Integer molestie lorem at massa</li>
  <li>Facilisis in pretium nisl aliquet</li>
  <li>Nulla volutpat aliquam velit
    <ul class="ul">
      <li>Phasellus iaculis neque</li>
      <li>Purus sodales ultricies</li>
      <li>Vestibulum laoreet porttitor sem</li>
      <li>Ac tristique libero volutpat at</li>
    </ul>
  </li>
  <li>Faucibus porta lacus fringilla vel</li>
  <li>Aenean sit amet erat nunc</li>
  <li>Eget porttitor lorem</li>
</ul>

Styleguide Typography.Lists.Unodered
*/

.ul {
  padding-left: 0;

  li {
    list-style: none;
  }

  li:before {
    color: #888888;
    content: "•";
    font-size: 15px;
    padding-right: 30px;
  }

  .ul &,
  .ol & {
    margin: 18px 0 18px 30px;

    li:before {
      content: "◦";
    }
  }
}

/*
Lists in Logged Pages & Reviews

Markup:
<div class="logged">
  <ul class="ul">
    <li>Lorem ipsum dolor sit amet</li>
    <li>Consectetur adipiscing elit</li>
    <li>Integer molestie lorem at massa</li>
    <li>Facilisis in pretium nisl aliquet</li>
    <li>Nulla volutpat aliquam velit
      <ul class="ul">
        <li>Phasellus iaculis neque</li>
        <li>Purus sodales ultricies</li>
        <li>Vestibulum laoreet porttitor sem</li>
        <li>Ac tristique libero volutpat at</li>
      </ul>
    </li>
    <li>Faucibus porta lacus fringilla vel</li>
    <li>Aenean sit amet erat nunc</li>
    <li>Eget porttitor lorem</li>
  </ul>
</div>

Styleguide Typography.Lists.Lists in Logged Pages & Reviews
*/

.logged {
  ul, ol {
    li {
      font-size: 13px;
    }
  }
}

/*
Ordered

A list of items in which the order does explicitly matter.

Markup:
<ol class="ol">
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipiscing elit</li>
  <li>Integer molestie lorem at massa</li>
  <li>Facilisis in pretium nisl aliquet</li>
  <li>Nulla volutpat aliquam velit</li>
  <li>Faucibus porta lacus fringilla vel</li>
  <li>Aenean sit amet erat nunc</li>
  <li>Eget porttitor lorem</li>
</ol>

Styleguide Typography.Lists.Ordered
*/

.ol {
  padding-left: 0;
  margin-left: 20px;
}

/*
Unstyled

Remove the default list-style and left margin on list items (immediate children only).
This only applies to immediate children list items, meaning you will need to add the class for any nested lists as well.

Markup:
<ul class="ul list-unstyled">
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipiscing elit</li>
  <li>Integer molestie lorem at massa</li>
  <li>Facilisis in pretium nisl aliquet</li>
  <li>Nulla volutpat aliquam velit</li>
  <li>Phasellus iaculis neque</li>
  <li>Purus sodales ultricies</li>
  <li>Vestibulum laoreet porttitor sem</li>
  <li>Ac tristique libero volutpat at</li>
  <li>Faucibus porta lacus fringilla vel</li>
  <li>Aenean sit amet erat nunc</li>
  <li>Eget porttitor lorem</li>
</ul>

Styleguide Typography.Lists.Unstyled
*/

.list-unstyled, .list-inline {
  li:before {
    padding-right: 0;
    content: "";
  }
}

/*
Inline

Place all list items on a single line with display: inline-block; and some light padding.

Markup:
<ul class="ul list-inline">
  <li>Lorem ipsum</li>
  <li>Phasellus iaculis</li>
  <li>Nulla volutpat</li>
</ul>

Styleguide Typography.Lists.Inline
*/

/*
Description

A list of terms with their associated descriptions.

Markup:
<dl>
  <dt>Description lists</dt>
  <dd>A description list is perfect for defining terms.</dd>
  <dt>Euismod</dt>
  <dd>
    Vestibulum id ligula porta felis euismod semper eget lacinia odio sem
    nec elit. Donec id elit non mi porta gravida at eget metus.
  </dd>
  <dt>Malesuada porta</dt>
  <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
</dl>

Styleguide Typography.Lists.Description
*/

/*
Horizontal description

Make terms and descriptions in dl line up side-by-side. Starts off stacked like default dls, but when the navbar expands, so do these.

Markup:
<dl class="dl-horizontal">
  <dt>Description lists</dt>
  <dd>A description list is perfect for defining terms.</dd>
  <dt>Euismod</dt>
  <dd>
    Vestibulum id ligula porta felis euismod semper eget lacinia odio sem
    nec elit. Donec id elit non mi porta gravida at eget metus.
  </dd>
  <dt>Malesuada porta</dt>
  <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
</dl>

Styleguide Typography.Lists.Horizontal description
*/
