<div class="page-header background-primary-smoke">
  <h1 class="color-primary-important">
    <svg class="icon icon-conversation icon-medium fill-primary">
      <use xlink:href="#conversation"></use>
    </svg>
    Title with custom icon fill, background and text color.
  </h1>
</div>
