/*
Alert

Alerts can be dismissable with a close button.
Alerts can be default, `alert-primary`, `alert-success`, `alert-warning` or `alert-error`.

Markup:
<div class="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <svg class="icon icon-cross">
      <use xlink:href="{{{iconPath}}}#cross"></use>
    </svg>
  </button>
  <strong>Lorem ipsum</strong> dolor <a href="#" class="alert-link">sit amet</a>,
  consectetur adipisicing elit. Doloremque, hic.
</div>
<div class="alert alert-primary">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <svg class="icon icon-cross icon-lg">
      <use xlink:href="{{{iconPath}}}#cross"></use>
    </svg>
  </button>
  alert alert-primary <strong>Lorem ipsum</strong> dolor <a href="#" class="alert-link">sit amet</a>,
  consectetur adipisicing elit. Doloremque, hic.
</div>
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <svg class="icon icon-cross">
      <use xlink:href="{{{iconPath}}}#cross"></use>
    </svg>
  </button>
  alert alert-success <strong>Lorem ipsum</strong> dolor <a href="#" class="alert-link">sit amet</a>,
  consectetur adipisicing elit. Doloremque, hic.
</div>
<div class="alert alert-warning">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <svg class="icon icon-cross">
      <use xlink:href="{{{iconPath}}}#cross"></use>
    </svg>
  </button>
  <div class="row">
    <div class="col-xs-3">
      <button class="btn btn-link">
        <svg class="icon icon-cross">
          <use xlink:href="{{{iconPath}}}#conversation"></use>
        </svg>
      </button>
      col-xs-3
    </div>
    <div class="col-xs-9">
      <strong>col-xs-8</strong> alert alert-warning <strong>Lorem ipsum</strong> dolor <a href="#" class="alert-link">sit amet</a>,
      consectetur adipisicing elit. Doloremque, hic.
    </div>
  </div>
</div>
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <svg class="icon icon-cross icon-lg">
      <use xlink:href="{{{iconPath}}}#cross"></use>
    </svg>
  </button>
  alert alert-error <strong>Lorem ipsum</strong> dolor <a href="#" class="alert-link">sit amet</a>,
  consectetur adipisicing elit. Doloremque, hic.
</div>

Styleguide Components.Alert
*/

.alert {
  position: relative;

  @each $color, $colorValue in $colors {
    &.alert-#{$color} {
      background-color: get-variant-color($color, "smoke");
      border-color: get-variant-color($color, "dark");
      color: get-variant-color($color, "dark");
    }
  }

  &:not([class*="alert-"]) {
    background-color: $grey-smoke;
    border-color: $border-color;
  }

  .alert-link {
    color: $black;
    font-weight: $font-weight-normal;
  }

  .close {
    line-height: 0;
    position: absolute;
    right: 10px;
    top: 10px;

    .icon {
      height: 10px;
      width: 10px;
      fill: $grey-darker;
    }
  }
}
