/*
Alert

Alerts can be dismissable with a close button.
Alerts can be default, `alert-primary`, `alert-success`, `alert-warning` or `alert-error`.

Markup:
<div class="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <svg class="icon icon-cross"><use xlink:href="#cross"></use></svg>
  </button>
  <strong>Lorem ipsum</strong> dolor <a href="#" class="alert-link">sit amet</a>,
  consectetur adipisicing elit. Doloremque, hic.
</div>

Styleguide Components.Alert
*/

.alert {
  @each $color, $colorValue in $colors {
    &.alert-#{$color} {
      background-color: get-variant-color($color, "smoke");
      border-color: get-variant-color($color, "dark");
      color: get-variant-color($color, "dark");
    }
  }

  &:not([class*="alert-"]) {
    background-color: $grey-smoke;
    border-color: $border-color;
  }

  .alert-link {
    color: $black;
    font-weight: $font-weight-normal;
  }

  .close {
    margin-top: -3px;

    &:focus {
      outline: none;
    }

    .icon-cross {
      height: 10px;
      width: 10px;
    }
  }
}
