/*
Breadcrumb

Markup:
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>

Styleguide Components.Breadcrumb
*/

.breadcrumb {
  font-size: 13px;

  li + li:before {
    content: "/";
    color: $grey;
  }
}
