/*
Business Card

Markup:
<div class="business-card">
  <a class="photo-wrapper" href="#">
    <img class="photo" src="https://placehold.it/100x100">
  </a>
  <span class="name">
    <a href="#">Name with link</a>
  </span>
  <address class="address">
    <span class="locality">City</span>
    <span class="country-name">
      (Country)
    </span>
  </address>
</div>

Styleguide Components.Business-Card
*/
@use "sass:math";

$businessCardPhotoSize: 65px;

.business-card {
  overflow: hidden;
  font-size: 12px;
  line-height: 18px;

  .photo-wrapper {
    width: $businessCardPhotoSize;
    height: $businessCardPhotoSize;
    float: left;
    border-radius: math.div($businessCardPhotoSize, 2);
    overflow: hidden;
    margin-right: 15px;

    &.no-photos {
      background-color: $primary-lighter;
    }
  }

  .photo {
    display: block;
    width: 100%;
    height: auto;
  }

  .name,
  .address,
  .locality,
  .region,
  .country-name,
  .link-all {
    display: block;
    padding-right: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .name,
  .link-all {
    padding-top: 5px;
  }
}
