
/*
Button Sizes

Fancy larger or smaller buttons? Add `.btn-lg`, `.btn-sm`, or `.btn-xs` for additional sizes.

Markup:
<button class="btn btn-primary {{modifier_class}}">Button: {{modifier_class}}</button>

.btn-lg    - Large button
.default   - Normal button
.btn-sm    - Small button
.btn-xs    - Extra small button
.btn-block - Block level buttons (spanning the full width of a parent)

Styleguide Components.Button.Button-Sizes
*/

.btn-xs,
.btn-group-xs > .btn  {
  font-size: $font-size-xs;
}

.btn-lg,
.btn-group-lg > .btn {
  font-size: $font-size-large;
  padding: 15px 25px;
}

.btn {
  &.btn-primary,
  &.btn-success,
  &.btn-info,
  &.btn-warning,
  &.btn-danger {
    &.btn-xs {
     padding: 2px 5px;
    }

    &.btn-sm {
      padding: 6px 10px;
    }

    &.btn-lg {
      padding: 16px 25px;
    }
  }
}
