/*
Button Async

Markup:
<button class="btn btn-sm btn-primary btn-async" data-demo="js-btn-async-demo">
  <svg class="icon icon-loader" role="img">
    <use xlink:href="{{iconPath}}#loader"></use>
  </svg>
  <svg class="icon icon-check" role="img">
    <use xlink:href="{{iconPath}}#check"></use>
  </svg>
  <svg class="icon icon-cross" role="img">
    <use xlink:href="{{iconPath}}#cross"></use>
  </svg>
  <span class="icon-text">Click me to see the different states</span>
</button>
<hr>
<a class="btn btn-async btn-primary busy" role="button">
  <svg class="icon icon-loader">
    <use xlink:href="{{iconPath}}#loader"></use>
  </svg>
  <span class="icon-text">Busy async button</span>
</a>
<a class="btn btn-async btn-primary disabled" role="button">
  <svg class="icon icon-loader">
    <use xlink:href="{{iconPath}}#loader"></use>
  </svg>
  <span class="icon-text">Disabled async button</span>
</a>

Styleguide Components.Button-Async
*/

.btn {
  .icon-loader {
    height: 13px;
    width: 13px;
  }

  &.btn-async {
    .icon {
      display: none;
      height: 20px;
      width: 20px;
      fill: $white;
    }

    &.busy {
      .icon {
        display: inline-block;
      }
    }

    .icon-text {
      margin-left: 0;
    }

    &.btn-link .icon-loader,
    &.btn-default .icon-loader {
      fill: $primary;
    }

    &.btn-link {
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        .icon-text {
          text-decoration: underline;
        }
      }
    }

    &.btn-sm {
      .icon {
        height: 15px;
        width: 15px;
      }
    }

    &.btn-xs {
      .icon {
        height: 10px;
        width: 10px;
      }
    }

    &.btn-async-loading,
    &.btn-async-error,
    &.btn-async-success {
      .icon-text {
        margin-left: 6px;
      }

      &.btn-sm,
      &.btn-xs {
        .icon-text {
          margin-left: 3px;
        }
      }

      &.btn-link {
        background-color: transparent;
        border-color: transparent;
        color: $primary;

        &:hover,
        &:focus,
        &:active {
          color: $primary-dark;
        }
      }
    }

    &.btn-async-loading {
      .icon-loader {
        display: inline-block;
      }
    }

    &.btn-async-success {
      .icon-check {
        display: inline-block;
      }
    }

    &.btn-async-error {
      .icon-cross {
        display: inline-block;
      }
    }

    &.btn-async-success {
      background-color: $success;
      border-color: $success;
      color: $white;

      &.btn-link .icon {
        fill: $success;
      }
    }

    &.btn-async-error {
      background-color: $error;
      border-color: $error;
      color: $white;

      &.btn-link .icon {
        fill: $error;
      }
    }
  }
}
