/*
Directions Labels

Markup:
<div class="row">
  <div class="col-md-4">
    <a href="#" class="direction-label">
      Normal state
      <svg class="icon icon-arrow-up">
        <use xlink:href="#arrow-up"></use>
      </svg>
      <svg class="icon icon-arrow-down">
        <use xlink:href="#arrow-down"></use>
      </svg>
    </a>
  </div>
  <div class="col-md-4">
    <a href="#" class="direction-label down">
      Sort
      <svg class="icon icon-arrow-up">
        <use xlink:href="#arrow-up"></use>
      </svg>
      <svg class="icon icon-arrow-down">
        <use xlink:href="#arrow-down"></use>
      </svg>
    </a>
  </div>
  <div class="col-md-4">
    <a href="#" class="direction-label up">
      Sort reverse
      <svg class="icon icon-arrow-up">
        <use xlink:href="#arrow-up"></use>
      </svg>
      <svg class="icon icon-arrow-down">
        <use xlink:href="#arrow-down"></use>
      </svg>
    </a>
  </div>
</div>

Styleguide Components.Directions-Labels
*/
a.direction-label,
a.direction-label:hover {
  text-decoration: none;
}

.direction-label {
  display: inline-block;
  color: $grey-medium;
  font-size: 15px;
  font-weight: 400;
  vertical-align: baseline;
  white-space: nowrap;

  &:active {
    color: $primary;
  }

  &:hover,
  &:focus {
    color: $primary-dark;
  }

  &:active,
  &:hover,
  &:focus {
    .icon {
      fill: $primary-dark;
    }
  }

  .icon {
    display: none;
    height: 10px;
    width: 10px;
    fill: $grey;
  }

  &.important {
    font-weight: bold;
  }

  &.up {
    .icon-arrow-up {
      display: inline-block;
    }
  }

  &.down {
    .icon-arrow-down {
      display: inline-block;
    }
  }
}
