/*
Dot

Markup:
<p><span class="dot {{modifier_class}}"></span> dot</p>

.dot-grey       - Grey
.dot-competitor - Competitor

Styleguide Components.Dot
*/

$xs-dot-size: 5px;
$small-dot-size: 10px;
$default-dot-size: $font-size-small; // 13px
$medium-dot-size: $font-size-base;  // 15px
$large-dot-size: $font-size-large; // 18px
$xxl-dot-size: 30px;

.dot {
  background-color: $white;
  border-radius: 50%;
  border: 1px solid $border-color;
  color: $white;
  display: inline-block;
  font-weight: $font-weight-bold;
  height: $default-dot-size;
  letter-spacing: -1px;
  text-align: center;
  vertical-align: middle;
  width: $default-dot-size;

  &.active {
    box-shadow: 0 0 5px rgba($black, 0.20);
  }

  &.dot-extra-small,
  &.dot-xs {
    height: $xs-dot-size;
    width: $xs-dot-size;
  }

  &.dot-small,
  &.dot-sm {
    height: $small-dot-size;
    line-height: $small-dot-size;
    width: $small-dot-size;
  }

  &.dot-medium,
  &.dot-md {
    height: $medium-dot-size;
    line-height: $medium-dot-size;
    width: $medium-dot-size;
  }

  &.dot-large,
  &.dot-lg {
    height: $large-dot-size;
    line-height: $large-dot-size;
    width: $large-dot-size;
  }

  &.dot-xxl {
    font-size: $font-size-large;
    height: $xxl-dot-size;
    line-height: ($xxl-dot-size - 2);
    width: $xxl-dot-size;
  }

  @each $color, $colorValue in $colors {
    &.dot-#{$color} {
      background-color: $colorValue;
      border-color: $colorValue;

      &.active {
        background-color: get-variant-color($color, 'dark');
        border-color: get-variant-color($color, 'dark');
      }
    }
  }

  @each $color, $colorValue in $colors {
    &.dot-border-#{$color} {
      border-color: $colorValue;
    }
  }
}
