/*
Dropdown

Markup:
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Dropdown
    <svg class="icon icon-chevron-down">
      <use xlink:href="{{{iconPath}}}#chevron-down"></use>
    </svg>
  </button>
  <ul class="dropdown-menu">
    <li class="dropdown-header">Dropdown header</li>
    <li><a href="#">Action <span class="badge pull-right">23</span></a></li>
    <li class="disabled"><a href="#">Disabled link</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>

Styleguide Components.Dropdown
*/

.dropdown,
.dropup {
  .icon-chevron-down,
  .icon-chevron-up {
    margin-left: 5px;
    transform: rotate(0deg);

    @include transition(all 0.1s linear);
  }

  &.open {
    .icon-chevron-down,
    .icon-chevron-up {
      transform: rotate(180deg);
    }
  }
}

.dropdown,
.dropup {
  .icon-chevron-down,
  .icon-chevron-up {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    fill: $grey;
    height: 20px;
    width: 20px;
  }

  &:hover {
    .icon-chevron-down,
    .icon-chevron-up {
      fill: $grey-medium;
    }
  }

  &.open {
    .arrow {
      display: block;
    }
  }

  .btn:focus {
    box-shadow: none;
    outline: none;
  }

  .dropdown-menu {
    margin-top: 0;
    border-radius: $border-radius-base;

    a {
      padding: 4px 15px;
      margin: 1px 0;
      text-decoration: none;

      &:hover {
        .badge {
          background-color: $white;
        }
      }
    }

    li {
      &.divider {
        margin: 9px 0;
      }

      &.disabled a {
        cursor: default;
        color: $grey-light;
        opacity: 0.7;
      }

      &.active {
        a {
          background-color: $primary-smoke;
          border-bottom: 1px solid $primary-light;
          border-top: 1px solid $primary-light;
          color: $primary;
        }
      }

      a {
        font-weight: $font-weight-normal;
      }
    }
  }

  .arrow,
  .arrow::after {
    border-color: transparent;
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
    border-width: 0 5px 5px;
  }

  .arrow {
    display: none;
    border-bottom-color: $border-color;
    left: 50%;
    top: 100%;
    z-index: 1001;
    margin-top: -5px;

    &::after {
      border-bottom-color: $white;
      border-top-width: 0;
      content: " ";
      margin-left: -5px;
      top: 1px;
      left: 0;
    }
  }
}
