/*
Form

Markup:
<form role="form">
  <div class="form-group">
    <label class="control-label">Label</label>
    <span class="control-feedback">Feedback</span>
    <div class="input-addon addon-left addon-right">
      <span class="addon">
        <span class="dot dot-primary"></span>
      </span>
      <input class="form-control" type="text" placeholder="Click to focus" value>
      <span class="addon">
        <a class="btn btn-link">X</a>
      </span>
    </div>
  </div>
  <div class="form-group has-error">
    <label class="control-label">Label</label>
    <span class="control-feedback">Feedback</span>
    <div class="input-addon addon-left addon-right">
      <span class="addon">
        <span class="dot dot-primary"></span>
      </span>
      <input class="form-control" type="text" placeholder="Click to focus" value>
      <span class="addon">
        <a class="btn btn-link">X</a>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="demo-text">Input text</label>
    <input type="text" class="form-control" placeholder="Text" name="demo-text" id="demo-text" />
  </div>
  <div class="form-group">
    <label for="demo-number">Input number</label>
    <input type="number" class="form-control" placeholder="Number" name="demo-number" id="demo-number" />
  </div>
  <div class="form-group">
    <label for="demo-email">Input email</label>
    <input type="email" class="form-control" placeholder="Email" name="demo-email" id="demo-email" />
  </div>
  <div class="form-group">
    <label for="demo-date">Input date</label>
    <input type="date" class="form-control" name="demo-date" id="demo-date" />
  </div>
  <div class="form-group">
    <label for="demo-password">Input password</label>
    <input type="password" class="form-control" placeholder="Password" name="demo-password" id="demo-password" />
  </div>
  <div class="form-group">
    <label for="demo-color">Input color</label>
    <input type="color" class="form-control" name="demo-color" id="demo-color" value="#428BCA" />
  </div>
  <div class="form-group checkbox">
    <label for="demo-checkbox">
      <input type="checkbox" name="demo-checkbox" id="demo-checkbox"> Input Checkbox
    </label>
  </div>
  <div class="form-group radio">
    <label for="demo-radio">
      <input type="radio" name="demo-radio" id="demo-radio"> Input Radio
    </label>
  </div>
</form>

Styleguide Components.Form
*/

.form-control {
  box-shadow: none;

  &:focus {
    box-shadow: 0 0 5px rgba($primary, 0.4);
    border-color: $primary;
  }
}

.form-group {
  &.has-error {
    .control-feedback {
      color: $error;
    }
  }

  .control-feedback {
    float: right;
    cursor: default;
    text-align: right;
  }

  .input-addon {
    position: relative;

    .addon {
      position: absolute;
      top: 0;
      line-height: 34px;
      z-index: $zindex-input-addon;
      padding: 0 $padding-small-horizontal;

      .btn {
        padding-left: 0;
        padding-right: 0;
      }

      &:first-child {
        left: 0;
      }

      &:last-child {
        right: 0;
      }
    }

    &.addon-left {
      input {
        padding-left: 30px;
      }
    }

    &.addon-right {
      input {
        padding-right: 30px;
      }
    }
  }
}

.form-centered {
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 300px;
}
