/*
Forms

Markup: markup/forms.hbs

Styleguide Components.Forms
*/

.form-control {
  box-shadow: none;

  &:focus {
    box-shadow: 0 0 5px rgba($primary, .4);
    border-color: $primary;
  }
}

.form-centered {
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 300px;
}
