@charset "UTF-8";

/*
Forms

Markup:
<input type="text" class="form-control {$modifiers}" placeholder="Text">

       - Plain input
:focus - Focussed input

Styleguide Components.Forms
*/

.form-control {
  @include box-shadow(none);

  &:focus {
    @include box-shadow(none);
    @include placeholder($input-color-placeholder-focus);
  }
}

/*
Input groups

Markup:
<form role="form">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input type="text" class="form-control" placeholder="Username">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-addon">.00</span>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="text" class="form-control">
      <span class="input-group-addon">.00</span>
    </div>
  </div>
</form>

Styleguide Components.Forms.Input Groups
*/


/*
Checkboxes and radio addons

Markup:
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
      <input type="text" class="form-control">
    </div>
  </div>
</div>

Styleguide Components.Forms.Checkbox and radio addons
*/

/*
Validation

Markup:
<div class="form-group has-validation-message {$modifiers}">
  <label class="control-label">Input</label>
  <input type="text" class="form-control" placeholder="placeholder">
  <span class="help-block">Help message</span>
</div>

             - normal
.has-success - success
.has-warning - success
.has-error   - success

Styleguide Components.Forms.Validation
*/

@mixin woo-help-block($bg, $border: $input-border) {
  .form-control {
    border-bottom-color: $border;
    border-color: #D2D2D2;
    border-radius: $input-border-radius $input-border-radius 0 0;
    &:focus {
      @include box-shadow(none);
      border-color: $input-border-focus;
    }
  }
  .help-block {
    background: $bg;
    border-radius: 0 0 $input-border-radius $input-border-radius;
    border-top: none;
    border: 1px solid $border;
    font-size: 12px;
    margin-top: 0;
    padding: 5px 15px;
  }
}

.has-validation-message.has-success {
  @include woo-help-block($state-success-bg, $state-success-border);
}

.has-validation-message.has-warning {
  @include woo-help-block($state-warning-bg, $state-warning-border);
}

.has-validation-message.has-error {
  @include woo-help-block($state-danger-bg, $state-danger-border);
}
