/*
Hero Banner

Markup: markup/hero-banner.hbs

Styleguide Components.Hero Banner
*/

.hero-banner {
  clear: both;
  overflow: hidden;
  position: relative;

  .hero-img {
    display: block;
    height: auto;
    max-width: none;
    width: 100%;
  }
}
