/*
Labels

Markup:
<span class="label {{modifier_class}}">label {{modifier_class}}</span>

.label-default - default
.label-primary - primary
.label-success - success
.label-warning - warning
.label-danger  - danger

Styleguide Components.Labels
*/

.label {
  font-size: .8em;
  font-weight: $font-weight-normal;
  line-height: 1.5;
  padding: .1em .4em .2em;
  position: relative;
  top: -.1em;

  &.label-default {
    background-color: $grey-smoke;
    color: $grey;
  }

  &.label-primary {
    background-color: $primary-smoke;
    color: $primary-dark;
  }

  &.label-success {
    background-color: $success-smoke;
    color: $success-dark;
  }

  &.label-warning {
    background-color: $warning-smoke;
    color: $warning-dark;
  }

  &.label-danger {
    background-color: $error-smoke;
    color: $error-dark;
  }
}
