/*
Modal

Markup:
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        One fine body…
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

Styleguide Components.Modal
*/

.modal {
  &.modal-wide {
    .modal-dialog {
      @include breakpoint($screen-sm) {
        width: 90%;
        max-width: 890px;
      }
    }
  }

  .close {
    position: absolute;
    top: 15px;
    right: 10px;
    padding: 10px;
    line-height: 0;
  }

  .modal-header {
    border: none;
    padding: 20px 0 0 0;
  }

  .modal-title {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: $grey-darker;
  }

  .modal-body {
    .message {
      font-size: 13px;
    }
  }

  .modal-footer {
    border: none;
    padding: 0 20px 20px 20px;
  }
}
