/*
Position Label

Markup:
<div class="row">
  <div class="col-md-4">
    <div class="position-label">
      <svg class="icon icon-triangle-up">
        <use xlink:href="{{{iconPath}}}#triangle-up"></use>
      </svg>
      <svg class="icon icon-triangle-down">
        <use xlink:href="{{{iconPath}}}#triangle-down"></use>
      </svg>
      Normal state
    </div>
  </div>
  <div class="col-md-4">
    <div class="position-label down">
      <svg class="icon icon-triangle-up">
        <use xlink:href="{{{iconPath}}}#triangle-up"></use>
      </svg>
      <svg class="icon icon-triangle-down">
        <use xlink:href="{{{iconPath}}}#triangle-down"></use>
      </svg>
      Down state
    </div>
  </div>
  <div class="col-md-4">
    <div class="position-label up">
      <svg class="icon icon-triangle-up">
        <use xlink:href="{{{iconPath}}}#triangle-up"></use>
      </svg>
      <svg class="icon icon-triangle-down">
        <use xlink:href="{{{iconPath}}}#triangle-down"></use>
      </svg>
      Up state
    </div>
  </div>
</div>

Styleguide Components.Position-Label
*/
a.position-label,
a.position-label:hover {
  text-decoration: none;
}

.position-label {
  display: inline-block;
  color: $text-color;
  font-size: 15px;
  font-weight: $font-weight-medium;
  vertical-align: baseline;
  white-space: nowrap;

  .icon {
    display: none;
    height: 10px;
    width: 10px;
  }

  &.important {
    font-weight: $font-weight-bold;
  }

  &.up {
    color: $success;

    .icon-triangle-up {
      display: inline-block;
      fill: $success;
    }
  }

  &.down {
    color: $error;

    .icon-triangle-down {
      display: inline-block;
      fill: $error;
    }
  }
}
