@charset "UTF-8";

/*
Progress Bar

Markup: markup/_dropdown.hbs

Styleguide Components.Progress Bar
*/

.progress-container {
  overflow: hidden;
}

.progress-label,
.progress {
  vertical-align: center;
  display: inline-block;
}

.progress-label {
  padding: 0 10px;
  color: $gray-light;
}

.progress {
  box-shadow: none;
  background-color: $progress-bg-gray;

  &.progress-xs {
    height: 6px;

    .progress-bar {
      box-shadow: none;
      height: 6px;
      border-radius: 0 3px 3px 0;
    }

    .progress-value {
      display: none;
    }
  }

  .progress-bar-marine {
    background-color: $marine;
  }

  .progress-value {
    display: inline;
  }
}
