/*
Tables

Tables can be `table-striped`, `table-bordered`, `table-hover`, `table-borderless` or `table-condensed`.

Markup:
<table class="table table-striped table-hover table-bordered table-condensed">
  <caption>Optional Table Caption</caption>
  <thead>
    <tr>
      <td class="text-center"><input type="checkbox"></td>
      <th class="text-center">#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center"><input type="checkbox"></td>
      <td class="text-center">1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td class="text-center"><input type="checkbox"></td>
      <td class="text-center">2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td class="text-center"><input type="checkbox"></td>
      <td class="text-center">3</td>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

Styleguide Components.Tables
*/

.table {
  td {
    input[type="checkbox"] {
      margin-top: 0;
    }
  }

  &.table-borderless {
    td {
      border-top: none;
    }
  }
}

.table-hover > tbody > tr:hover {
  background-color: $primary-smoke;
}
