/*
Tooltip

A tooltip element can be `top`, `bottom`, `left`, `right`.
It can have a specific backgound color with `tooltip-` and the color name.
As a extra option it can be also **white** colored.
A close button can be added.

Markup: markup/tooltip.hbs

Styleguide Components.Tooltip
*/

$directions: 'top', 'bottom', 'left', 'right';

.tooltip {
  display: inline-block;
  z-index: ($zindex-navbar - 1);
  margin-top: 3px;
  padding: 5px 0;

  .tooltip-btn-close,
  .close {
    float: none;
    font-size: 12px;
    line-height: 0;
    padding: 5px;
    display: inline-block;
    cursor: pointer;

    .icon {
      fill: $white;
      height: 10px;
      width: 10px;
    }
  }

  .tooltip-inner {
    background-color: $grey-dark;
  }

  .tooltip-btn-close {
    color: $grey-light;
  }

  .tooltip-arrow {
    &:after {
      border: 5px solid rgba($white, 0);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &.left {
    .tooltip-arrow:after {
      margin-top: -5px;
      margin-left: -6px;
    }
  }

  &.right {
    .tooltip-arrow:after {
      margin-top: -5px;
      margin-left: -4px;
    }
  }

  &.top {
    .tooltip-arrow:after {
      margin-top: -6px;
      margin-left: -5px;
    }
  }

  &.bottom {
    .tooltip-arrow:after {
      margin-top: -4px;
      margin-left: -5px;
    }
  }

  &.bottom-left,
  &.top-left {
    .tooltip-arrow {
      left: 20px;
    }
  }

  &.bottom-right,
  &.top-right {
    .tooltip-arrow {
      left: auto;
      right: 20px;
    }
  }

  &.bottom-left,
  &.bottom-right {
    .tooltip-arrow {
      margin-top: 0;

      &:after {
        margin-top: -4px;
        margin-left: -5px;
      }
    }
  }

  &.top-left,
  &.top-right {
    .tooltip-arrow {
      margin-bottom: 0;

      &:after {
        margin-top: -6px;
        margin-left: -5px;
      }
    }
  }

  &.left-top {
    .tooltip-arrow {
      top: 20px;
      left: -10px;
      border-width: 5px;

      &:after {
        margin-top: -5px;
        margin-left: -4px;
      }
    }
  }
}

// OPTIONS (colors, white, force visible and styleguide example)
.tooltip {
  @each $color, $colorValue in $colors {
    &.tooltip-#{$color} {
      .tooltip-inner {
        border: 1px solid get-variant-color($color, "light");
        background-color: get-variant-color($color, "smoke");
        color: $colorValue;

        .close {
          .icon {
            fill: get-variant-color($color, "dark");
          }
        }
      }

      &.bottom,
      &.bottom-left,
      &.bottom-right {
        .tooltip-arrow {
          border-bottom-color: get-variant-color($color, "light");

          &:after {
            border-bottom-color: get-variant-color($color, "smoke");
          }
        }
      }

      &.top,
      &.top-left,
      &.top-right {
        .tooltip-arrow {
          border-top-color: get-variant-color($color, "light");

          &:after {
            border-top-color: get-variant-color($color, "smoke");
          }
        }
      }

      &.left-top {
        .tooltip-arrow {
          border-right-color: get-variant-color($color, "light");

          &:after {
            border-right-color: get-variant-color($color, "smoke");
          }
        }
      }

      .tooltip-btn-close {
        color: get-variant-color($color, "light");
      }
    }
  }

  &.tooltip-white {
    .tooltip-inner {
      border: 1px solid $border-color;
      background-color: $white;
      color: $grey-dark;
    }

    @each $direction in $directions {
      &.#{$direction} {
        .tooltip-arrow {
          border-#{$direction}-color: $border-color;

          &:after {
            border-#{$direction}-color: $white;
          }
        }
      }
    }

    &.bottom,
    &.bottom-left,
    &.bottom-right {
      .tooltip-arrow {
        border-bottom-color: $border-color;

        &:after {
          border-bottom-color: $white;
        }
      }
    }

    &.top,
    &.top-left,
    &.top-right {
      .tooltip-arrow {
        border-top-color: $border-color;

        &:after {
          border-top-color: $white;
        }
      }
    }

    &.left-top {
      .tooltip-arrow {
        border-right-color: $border-color;

        &:after {
          border-right-color: $white;
        }
      }
    }
  }

  &.tooltip-visible {
    opacity: 1;
  }
}
