#kss-node {
  article.container {
    overflow: hidden;
    padding-bottom: 60px;

    .page-header {
      text-align: center;
      border-bottom: none;

      a {
        color: $grey-darker;
      }

      .description {
        font-size: 25px;
        color: $grey;
        font-weight: 300;
      }
    }

    .content {
      background: $white;
      border-radius: 5px;
      padding: 30px;
    }

    .modifier__name {
      display: none;
    }

    .modifier__wrapper {
      clear: both;
      padding-bottom: 30px;
    }
  }
}
