#kss-node {
  article.container {
    overflow: hidden;
    padding: 60px 15px;
    .left-container {
      padding-left: 0px;
    }

    .page-header {
      text-align: center;
      border-bottom: none;

      a {
        color: $grey-darker;
      }

      .description {
        font-size: 25px;
        color: $grey;
        font-weight: $font-weight-normal;
      }
    }

    .content {
      background: $white;
      border-radius: $border-radius-base;
      padding: 30px;
    }

    .modifier__name {
      display: none;
    }

    .modifier__wrapper {
      clear: both;
      padding-bottom: 30px;
    }
  }
}
