.custom-mobile-nav {
  display: block;

  #kss-node & {
    @include breakpoint($screen-sm) {
      display: none !important;
    }
  }
}

.custom-navbar-group {
  position: absolute;
  top: 13px;
  display: none;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);

  @include breakpoint($screen-sm) {
    display: block;
    min-width: 525px;
  }

  .btn-group {
    display: inline-block;
  }
}

.page-header {
  h1 + .description {
    margin-top: -20px;
  }
}
