#kss-node {
  .sidebar-nav {
    padding-top: 60px;

    &.affix {
      position: fixed !important;
    }

    .list-group {
      min-width: 240px;
      display: inline-block;
      width: auto;
      margin: -1px auto;
      max-height: 500px;
      overflow: scroll;

      .list-group-item {
        padding: 5px 10px;
        font-size: 13px;
        border-color: $grey-smoke;

        &:first-child {
          display: none;
        }
      }
    }
  }
}
