#kss-node {
  .sidebar-nav {
    padding-top: 60px;

    &.fixed {
      padding-top: 0;
      position: fixed;
      top: 60px;
      bottom: 30px;
      border-radius: $border-radius-base;
      overflow: auto;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      background-color: $white;
      overflow-x: hidden;
    }

    .list-group {
      min-width: 225px;
      display: inline-block;
      width: auto;
      margin: -1px auto;

      .list-group-item {
        padding: 5px 10px;
        font-size: 13px;
        border-color: $grey-smoke;

        &:first-child {
          display: none;
        }
      }
    }
  }
}
