/*
Page Footer

Markup:
<footer class="-footer" id="footer">
  <!-- remove "Container" class for the example -->
  <div class="">
    <div class="footer-menu">
      <div class="-menu">
        <nav class="-nav">
          <h5 class="-title"><span class="">Resources</span></h5>
          <ul class="-list">
            <li class="-item"><a href="https://www.woorank.com/en/blog" target="_blank"><span class="">Blog</span></a></li>
            <li class="-item"><a href="https://www.woorank.com/en/edu/seo-guides" target="_blank"><span class="">SEO Guides</span></a></li>
            <li class="-item"><a href="https://www.youtube.com/user/WooRankTV" target="_blank"><span class="">Videos</span></a></li>
          </ul>
        </nav>
      </div>
      <div class="-social">
        <ul class="-list">
          <li class="-item"><a class="-circle" href="https://www.facebook.com/woorank/" target="_blank" title="Facebook"><svg class=" icon icon-facebook"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{iconPath}}#facebook-nocolor"></use></svg></a></li>
          <li class="-item"><a class="-circle" href="https://twitter.com/woorank?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" title="Twitter"><svg class=" icon icon-twitter"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{iconPath}}#twitter-nocolor"></use></svg></a></li>
          <li class="-item"><a class="-circle" href="https://www.linkedin.com/company/woorank" target="_blank" title="Linked In"><svg class=" icon icon-linkedin"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{iconPath}}#linkedin-nocolor"></use></svg></a></li>
          <li class="-item"><a class="-circle" href="https://www.youtube.com/user/WooRankTV" target="_blank" title="YouTube"><svg class=" icon icon-youtube"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{iconPath}}#youtube-nocolor"></use></svg></a></li>
          <li class="-item"><a class="-circle" href="https://www.instagram.com/woorank/?hl=en" target="_blank" title="Instagram"><svg class=" icon icon-instagram"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{iconPath}}#instagram-nocolor"></use></svg></a></li>
          <li class="-item"><a class="-circle" href="https://plus.google.com/+woorank" target="_blank" title="Google Plus"><svg class=" icon icon-googleplus"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{iconPath}}#googleplus-nocolor"></use></svg></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="brand"><a class="-logo" href="/" title="Woorank | WooRank.com | SEO Checker - Website Review"><svg class=" icon icon-logo"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{iconPath}}#logo"></use></svg></a><span class="sr-only">Copyright © 2017</span></div>
    </div>
  </div>
</footer>

Styleguide Patterns.Page-Footer
*/
#section-patterns-page-footer {
  .page-footer {
    width: 100%;
  }
}

.-footer {
  display: flex;
  flex: 0 0 auto; // footer flex
  flex-direction: column;
  margin-top: 60px;

  .footer-menu {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 auto;
    padding: 15px 0;
    border-top: 1px solid $footer-border-color;

    @include breakpoint ($screen-sm) {
      flex-direction: row;
    }

    .-menu {
      flex: 1 auto;
      text-align: center;

      @include breakpoint($screen-sm) {
        text-align: left;
      }
    }

    .-language {
      .dropup,
      .dropdown {
        color: $footer-font-color;
        display: inline-flex;
        padding: 0 15px;

        .icon-chevron-down,
        .icon-chevron-up {
          margin: 0 5px;
        }

        a {
          text-decoration: none;
          color: $footer-font-color;
          font-size: $footer-font-size;
        }
      }
    }
  }

  .footer-copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex: 1 auto;
    padding: 15px 0;
    border-top: 1px solid $footer-border-color;

    .brand {
      display: flex;
      max-width: 200px;
      padding: 0;
      height: auto;
      padding-right: 30px;
      align-items: center;
    }

    .-language {
      .dropup,
      .dropdown {
        color: $footer-font-color;
        display: inline-flex;
        padding: 0 15px;

        .icon-chevron-down,
        .icon-chevron-up {
          margin: 0 5px;
        }

        a {
          text-decoration: none;
          color: $footer-font-color;
          font-size: $footer-font-size;
        }
      }
    }
  }

  .-nav {
    display: inline-flex;
    color: $footer-font-color;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    min-width: 100px;

    @include breakpoint ($screen-md) {
      min-width: 150px;
    }

    .-title {
      pointer-events: none;
      cursor: default;
      color: $footer-font-color;
      font-weight: $font-weight-bold;
      font-size: $footer-font-size;
      margin-top: 5px;
      max-width: 100px;
    }

    .-list {
      padding-left: 0;

      .-item {
        list-style-type: none;
        font-size: $footer-font-size;
        margin-bottom: 5px;
        max-width: 100px;
        word-break: break-word;

        a {
          color: $footer-font-color;
          font-weight: $font-weight-normal;
          text-decoration: none;

          &:hover {
            color: $footer-font-color-hover;
          }
        }
      }
    }
  }

  .-social {
    display: flex;
    overflow: hidden;
    cursor: default;

    .-list {
      padding-left: 0;
      margin: 0 auto;

      .-item {
        display: inline-block;
        list-style-type: none;
        font-size: 13px;

        a {
          text-decoration: none;
        }
      }
    }

    .-circle {
      .icon {
        fill: $grey-medium;
        width: 20px;
        height: 20px;
      }
    }
  }
}
