@charset "UTF-8";

/*
Experts banner

Markup: markup/experts-banner.hbs

Styleguide Patterns.Experts banner
*/

$expertPhotoSize: 65px;

.experts-banner {
  clear: both;
  overflow: hidden;

  .experts-title {
    font-size: 13px;
    line-height: 27px;
    padding: 12px 0 0px;
    margin: 20px 0 4px;
    border-bottom: none;
    font-weight: 500;
  }

  .expert {
    width: 100%;
    padding: 15px 7px 0 0;
    float: left;
    overflow: hidden;
    font-size: 12px;
    line-height: 18px;
    
    @include breakpoint($screen-sm) {
      width: 50%;
    }

    @include breakpoint($screen-md) {
      width: 25%;
    }
    
    .photo-wrapper {
      width: $expertPhotoSize;
      height: $expertPhotoSize;
      float: left;
      border-radius: $expertPhotoSize / 2;
      overflow: hidden;
      margin-right: 15px;

      &.no-photo {
        background-color: $primary-lighter;
      }
    }

    .photo {
      display: block;
      width: 100%;
      height: auto;
    }

    .fn,
    .adr,
    .locality,
    .region,
    .country-name,
    .link-all {
      display: block;
      padding-right: 5px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .fn,
    .link-all {
      padding-top: 5px;
    }
  }
}
