@charset "UTF-8";

/*
Experts banner

Markup: markup/experts-banner.hbs

Styleguide Patterns.Experts banner
*/

$expertPhotoSize: 65px;
$expertBlockSize: 180px;
$textWidth: 103px;
$wantedDistanceBetweenTextAndImage: 5px;
$extraPaddingText: $expertBlockSize - $expertPhotoSize - $textWidth - $wantedDistanceBetweenTextAndImage;

.experts-banner {
    clear: both;
    overflow: hidden;

    .experts-title {
        font-size: 13px;
        line-height: 27px;
        padding: 12px 0 0px;
        margin: 20px 0 4px;
        border-bottom: none;
        font-weight: 500;
    }

    .expert {
        width: $expertBlockSize;
        margin-right: 7px;
        float: left;
        overflow: hidden;
        margin-top: 15px;
        box-sizing: border-box;

        .photo {
            width: $expertPhotoSize;
            height: $expertPhotoSize;
            border-radius: $expertPhotoSize / 2;
            float: left;
        }

        .fn {
            padding-top: 5px;
            width: $textWidth;
            padding-right: $extraPaddingText;
            float: right;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .locality,
        .country-name,
        .region {
            width: $textWidth;
            padding-right: $extraPaddingText;
            float: right;
        }
    }

    .no-photo,
    .photo-wrapper {
        float: left;
        width: $expertPhotoSize;
        height: $expertPhotoSize;
        border-radius: $expertPhotoSize / 2;
        background-color: #C5DAEE;
    }

    .see-all-experts {
        width: $expertBlockSize;
        float: left;
        overflow:hidden;
        margin-top:15px;
        box-sizing: border-box;

        .link-all {
            padding-top: 5px;
            width: $textWidth;
            padding-right: $extraPaddingText;
            float: right;
        }
    }
}
