/*
Generation Bar in Navbar Pro User

Pro user Logged

Markup:
<div class="generation-bar-in-header-container">
  <form class="generation-bar ajax-generate-report generate-form generation-bar-in-header js-generation-bar-in-header" id="generation-bar-in-header" action="/en/report/generate" method="post" novalidate="">
    <div class="input-group">
      <div class="input-container">
        <input type="url" class="form-control required js-validate-review-url" name="url" value="" placeholder="Website URL to review" id="generation-bar-in-header-input" tabindex="1">
      </div>
      <div class="input-group-btn">
        <div class="generation-bar-options js-generation-bar-options">
          <button type="button" class="btn btn-link btn-xs options-btn js-options-btn">
            <span class="options-btn-text">Options</span>
            <svg class="icon icon-chevron-down icon-xs closed-icon" role="img">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{{iconPath}}}#chevron-down"></use>
            </svg>
            <svg class="icon icon-chevron-up icon-xs opened-icon" role="img">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{{iconPath}}}#chevron-up"></use>
            </svg>
          </button>
        </div>
        <button class="btn generation-bar-btn btn-default" id="generation-bar-in-header-submit" name="generate" value="premium" type="submit" tabindex="2">
          <span class="ready">Review</span>
          <span class="wait">Reviewing...</span>
        </button>
      </div>
    </div>
    <!-- style="display:block;position:relative;" only on this example -->
    <div class="options-content js-options-content" id="gen-inputs-container" style="display:block;position:relative;">
      <button type="button" class="btn btn-close" title="Close" tabindex="7">
        <svg class="icon icon-cross icon-xs" role="img">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{{iconPath}}}#cross"></use>
        </svg>
      </button>
      <label class="add-competitors-title">Add competitors</label>
        <div class="form-group first-competitor-container">
          <div
            class="js-add-competitors input-group"
            id="add-first-competitor">
            <span class="corner-indicator corner-top-left corner-competitor-light"></span>
            <input
              type="text"
              class="form-control input-sm"
              name="competitors[1]"
              id="inp-comp-1"
              placeholder="Competitor-1.com"
              tabindex="3">
          </div>
        </div>
        <div class="form-group second-competitor-container">
          <div
            class="js-add-competitors input-group"
            id="add-second-competitor">
            <span class="corner-indicator corner-top-left corner-competitor"></span>
            <input
              type="text"
              class="form-control input-sm"
              name="competitors[2]"
              id="inp-comp-2"
              placeholder="Competitor-2.net"
              tabindex="4">
          </div>
        </div>
        <div class="form-group third-competitor-container">
          <div
            class="js-add-competitors input-group"
            id="add-third-competitor">
            <span class="corner-indicator corner-top-left corner-competitor-dark"></span>
            <input
              type="text"
              class="form-control input-sm"
              name="competitors[3]"
              id="inp-comp-3"
              placeholder="Competitor-3.org"
              tabindex="5">
          </div>
        </div>
        <div class="options-footer">
          <!-- NEW GENERATION BUTTON -->
          <button
            class="btn btn-sm btn-primary generation-bar-btn"
            id="generation-bar-in-header-submit-footer"
            name="generate"
            value="premium"
            type="submit"
            tabindex="6">
            <span class="ready">Review</span>
            <span class="wait">Reviewing...</span>
          </button>
      </div>
    </div>
  </form>
  <a
    class="btn btn-primary generation-bar-toggle"
    data-target="generation-bar"
    aria-expanded="false">
    <svg class="icon icon-plus icon-sm" role="img">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{{iconPath}}}#cross"></use>
    </svg>
  </a>
</div>

Styleguide Patterns.Generation-bar-in-navbar-Pro-User
*/

.generation-bar-in-header-container {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: $zindex-navbar-fixed;
  height: 100%;
  visibility: visible;
  padding: 0;
  background-color: transparent;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  @include breakpoint($screen-sm) {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    z-index: 1;
    padding: 0;
    height: auto;
    border: none;
  }

  .arrow {
    position: absolute;
    top: -20px;
    right: 35px;
    margin-top: -1px;
    margin-right: -3px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $border-color;

    &::after {
      content: " ";
      position: absolute;
      top: -10px;
      left: -10px;
      margin-top: 1px;
      border-top: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $white;
    }
  }

  .generation-bar {
    transition: all .2s linear;
    padding-top: 0;

    .form-control {
      height: 40px;
    }

    .input-group {
      position: static;
    }

    .input-group-btn {
      position: static;

      .generation-bar-btn {
        height: 40px;
      }
    }

    .generation-bar-options {
      display: block;
      visibility: visible;
      top: auto;
      bottom: 0;
      left: 0;
      right: 0;

      .options-btn {
        border: none;
      }
    }

    .options-content {
      .input-group {
        position: relative;
        padding-bottom: 0;
      }

      .btn-close {
        display: none;

        @include breakpoint($screen-sm) {
          display: block;
        }
      }

      .arrow {
        display: block;
      }
    }
  }

  .generation-bar-in-header {
    display: block;
    z-index: $zindex-navbar;
    // max-width: none;
    position: relative;
    padding-bottom: 50px;

    @include breakpoint($screen-sm) {
      position: static;
      padding-bottom: 0;
    }

    &.error {
      .options-btn {
        border-color: $error !important;
      }

      .options-content {
        .form-control {
          border-color: $border-color !important;
        }
      }
    }

    &.options-open {
      .generation-bar-options {
        .options-btn {
          .options-btn-text {
            @include breakpoint($screen-sm) {
              display: none;
            }
          }

          .opened-icon {
            display: inline-block;
            vertical-align: middle;
          }

          .closed-icon {
            display: none;
          }
        }
      }

      .options-content {
        display: block;
      }
    }

    .form-control {
      border-radius: $border-radius-base $border-radius-base 0 0;
      font-size: 13px;
      height: 30px;
      transition: none;

      @include breakpoint($screen-sm) {
        border-radius: $border-radius-base 0 0 $border-radius-base;
        border-right: none;
      }
    }

    .input-group-btn {
      position: relative;
      text-align: right;
      z-index: 2;

      .generation-bar-btn {
        border-radius: 0 0 $border-radius-base $border-radius-base;
        font-size: 13px;
        font-weight: $font-weight-normal;
        height: 30px;
        margin-top: -1px;
        padding: 3px 13px;

        @include breakpoint($screen-sm) {
          border-radius: 0 $border-radius-base $border-radius-base 0;
          margin-top: 0;
        }
      }
    }

    .generation-bar-options {
      background-color: $white;
      display: inline-block;
      position: absolute;
      right: 2px;
      text-align: left;
      top: -29px;
      z-index: 2;

      @include breakpoint($screen-sm) {
        top: 0;
        right: 101%;
        left: auto;
      }

      &.focus {
        .options-btn {
          border-top-color: $primary;
          border-bottom-color: $primary;
        }
      }

      .options-btn {
        border-bottom: 1px solid $border-color;
        border-left: none;
        border-radius: 0;
        border-right: none;
        border-top: 1px solid $border-color;
        color: $primary;
        margin: 0;
        text-decoration: none;
        padding: 0;

        @include breakpoint($screen-sm) {
          padding: 3px 13px;
        }

        .icon {
          margin-left: 5px;
        }

        .opened-icon {
          display: none;
        }

        .closed-icon {
          display: inline-block;
          vertical-align: middle;
        }

        &:focus {
          outline: none;
        }
      }

      .icon {
        fill: $primary;
      }
    }

    .btn-close {
      background: none;
      border-radius: 0;
      height: auto;
      line-height: 0;
      margin: 0;
      padding: 3px;
      width: auto;

      &:focus,
      &:hover,
      &:active {
        .icon {
          fill: $grey;
        }
      }

      .icon {
        fill: $grey-light;
      }
    }

    .options-content {
      background-color: $white;
      border-radius: $border-radius-base;
      display: none;
      margin-top: -1px;
      min-width: 238px;
      padding: 20px 0 0;
      z-index: ($zindex-navbar-fixed - 1);
      position: static;
      border: none;
      box-shadow: none;

      @include breakpoint($screen-sm) {
        box-shadow: 0 0 3px rgba($black, 0.15);
        border: 1px solid $border-color;
        position: absolute;
        min-width: 290px;
        margin-top: 10px;
        right: auto;
        width: 100%;
        top: 100%;
        padding: 25px 20px 20px;
      }

      &.options-content-not-logged {
        white-space: normal;
        text-align: center;

        a {
          color: $primary-dark;
          &:hover,
          &:focus {
            color: $primary;
            background-color: transparent;
          }
        }

        .btn-start-trial {
          height: auto;
          padding: 6px 12px;
          border-radius: $border-radius-base;
          margin: 0 auto;
          color: $white;
          box-shadow: inset 0 -2px 0 rgba($black, 0.2);
        }
      }

      p {
        a,
        a:hover,
        a:focus {
          padding: 0;
          background-color: none;
          border: none;
          font-weight: $font-weight-normal;
        }
      }

      .add-competitors-title {
        font-weight: $font-weight-normal;
      }

      .btn-close {
        padding: 10px;
        position: absolute;
        right: 0;
        top: 0;
      }

      .form-group {
        position: relative;

        &.third-competitor-container {
          @include breakpoint($screen-sm, true) {
            margin-bottom: 0;
          }
        }
      }

      .form-control {
        border-radius: $border-radius-base;
        overflow: hidden;
        position: relative;
        border-right: 1px solid $border-color;

        &:focus {
          border-right-color: $primary;
        }

        &.error {
          border-color: $error !important;
        }
      }

      .corner-indicator {
        left: 0;
        position: absolute;
        top: 0;
        z-index: 3;
      }

      .options-btn-text {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .options-footer {
      display: none;
      clear: both;
      border-top: 1px solid $grey-lighter;
      margin: 0 -20px -20px -20px;
      padding: 10px 20px;

      @include breakpoint($screen-sm) {
        display: block;
      }

      .btn {
        margin: 0;
      }

      .btn-link {
        margin-right: -12px;
      }
    }
  }
}
