/*
Generation Bar Small

Small size

Markup:
<form class="generation-bar generation-bar-small">
    <div class="input-group">
        <input type="text" class="form-control input-sm" placeholder="Website URL to review">
        <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" type="button">Try it for Free</button>
        </span>
    </div>
</form>
<form class="generation-bar generation-bar-small error">
    <div class="input-group">
        <input type="text" class="form-control input-sm" placeholder="Website URL to review" value="Error inside">
        <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" type="button">Try it for Free</button>
        </span>
    </div>
</form>

Styleguide Patterns.Generation-bar-small
*/

.generation-bar {
  &.generation-bar-in-header,
  &.generation-bar-small {
    padding-top: 15px;

    .generation-bar-options {
      border-bottom: none;
    }

    .form-control {
      height: auto;

      @include breakpoint($screen-sm) {
        height: 30px;
        padding: 0 12px;
      }
    }

    .input-group-btn {
      .btn {
        padding: 10px;
        height: auto;

        @include breakpoint($screen-sm) {
          padding: 3px 13px;
          height: 30px;
        }

        &.generation-bar-btn {
          margin-top: 30px;

          @include breakpoint($screen-sm) {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.generation-bar {
  &.generation-bar-small {
    .form-control {
      border-color: $border-color;
    }

    .input-group-btn {
      .btn {
        &.btn-primary {
          color: $white;
        }
      }
    }
  }
}
