/*
Generation Bar

Markup:
<form class="generation-bar" style="margin-bottom: 30px;">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Website URL to review">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Try it for Free</button>
        </span>
    </div>
</form>
<form class="generation-bar error">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Website URL to review" value="Error inside">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Try it for Free</button>
        </span>
    </div>
</form>

Styleguide Patterns.Generation-Bar
*/
$genbar-height: 50px;

.generation-bar {
  margin: 0 auto;
  max-width: 640px;

  &.error {
    .form-control {
      border-color: $error !important;
      color: $error !important;
    }
  }

  .form-control,
  .input-group,
  .input-group-btn,
  .input-group-btn .btn {
    display: block;
    float: none;
    margin: 0;
    width: 100%;
  }

  .input-group-btn .btn {
    @include breakpoint($screen-sm) {
      width: auto;
    }
  }

  .input-group {
    @include breakpoint($screen-sm) {
      display: table;
    }
  }

  .form-control {
    border-radius: $border-radius-base $border-radius-base 0 0;
    padding: 12px;
    height: $genbar-height;

    &:first-child {
      border-radius: $border-radius-base $border-radius-base 0 0;

      @include breakpoint($screen-sm) {
        border-radius: $border-radius-base 0 0 $border-radius-base;
      }
    }

    @include breakpoint($screen-sm) {
      border-radius: $border-radius-base 0 0 $border-radius-base;
      display: table-cell;
      float: left;
    }
  }

  .input-group-btn {
    text-align: center;

    @include breakpoint($screen-sm) {
      display: table-cell;
      text-align: left;
      width: 1%;
    }

    .btn {
      border-radius: 0 0 $border-radius-base $border-radius-base;
      height: $genbar-height;

      @include breakpoint($screen-sm) {
        border-radius: 0 $border-radius-base $border-radius-base 0;
      }
    }
  }

  .generation-bar-btn {
    .ready {
      display: block;
    }

    .wait {
      display: none;
    }
  }

  &.waiting-for-ajax {
    .generation-bar-btn {
      .ready {
        display: none;
      }

      .wait {
        display: block;
      }
    }
  }
}
