/*
Generation Bar

Markup: ../sections/generation-bars.hbs

Styleguide Patterns.Generation-Bar
*/
$genbar-height: 50px;
$genbar-height-small: 30px;

$genbar-height-loader: 20px;
$genbar-height-loader-small: 13px;

$genbar-focus-background-color: $grey-smoke;
$genbar-busy-background-color: $warning-smoke;

$genbar-error-color: $error;

$genbar-busy-btn-background-color: $primary-lighter;

$genbar-font-size: $font-size-base;
$genbar-font-size-small: $font-size-small;

.generation-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

// Generation Bar Inner primitives
.generation-bar {
  .input-group {
    width: 100%;
  }

  input,
  button {
    height: $genbar-height;
    font-size: $genbar-font-size;
  }

  input {
    @extend .form-control;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
      background-color: $genbar-focus-background-color;
    }
  }

  button {
    flex-shrink: 0;
    border: 1px solid transparent !important; // gracefully override removing border on "btn" class
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .addon {
    .icon-loader {
      width: 1em;
      height: 1em;
      display: inline-block;
    }
  }

  .input-group-addon {
    padding: 0.5em 0.5em 0.5em 2em;
  }
}

// Generation-bar sizes
.generation-bar {
  &.generation-bar-small {
    input,
    button {
      height: $genbar-height-small;
      font-size: $genbar-font-size-small;
    }

    input {
      background-color: $genbar-focus-background-color;
    }

    button {
      font-size: $font-size-small;
      padding: 3px 12px;
    }
  }

  &.generation-bar-fluid {
    max-width: none !important;
  }

  &.generation-bar-inside {
    .input-group-addon {
      display: table-cell;
    }

    input {
      padding-left: 6px;
    }
  }
}

.generation-bar {
  position: relative;
  margin: 0 auto;
  max-width: 640px;

  .addon {
    position: absolute;
    z-index: 99;
    padding: 0 0.5em;
    left: 0;
    line-height: 1em;

    .icon-loader {
      display: none;
    }
  }

  .input-group-addon {
    display: none;
  }

  input {
    padding-left: 2em;
  }
}

// Generation-bar states
.generation-bar {
  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.7;

    button {
      background-color: $genbar-busy-btn-background-color !important;
    }
  }

  &.busy {
    pointer-events: none;

    input {
      background-color: $genbar-busy-background-color !important;
    }

    button {
      background-color: $genbar-busy-btn-background-color !important;
    }

    .addon {
      .icon-loader {
        display: inline-block !important;
      }
    }
  }

  &.error {
    input {
      border-color: $genbar-error-color !important;
      color: $genbar-error-color !important;
    }
  }
}
