/*
Generation Bar Small

Small size

Markup:
<form class="generation-bar generation-bar-small">
    <div class="input-group">
        <input type="text" class="form-control input-sm" placeholder="Website URL to review">
        <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" type="button">Try it for Free</button>
        </span>
    </div>
</form>
<form class="generation-bar generation-bar-small error">
    <div class="input-group">
        <input type="text" class="form-control input-sm" placeholder="Website URL to review" value="Error inside">
        <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" type="button">Try it for Free</button>
        </span>
    </div>
</form>

Styleguide Patterns.Generation-bar-small
*/

.generation-bar {
  &.generation-bar-in-header,
  &.generation-bar-small {
    padding-top: 15px;

    .form-control {
      height: 30px;
      padding-top: 0;
      padding-bottom: 0;
    }

    .input-group-btn {
      .btn {
        padding: 3px 13px;
        height: 30px;
      }
    }
  }
}

.generation-bar {
  &.generation-bar-small {
    .form-control {
      border-color: $border-color;
    }

    .input-group-btn {
      .btn {
        box-shadow: inset 0 -2px 0 rgba($black, 0.2);

        &.btn-primary {
          color: $white;
        }
      }
    }
  }
}
