/*
Generation bar

markup: markup/generation-bar.hbs

Styleguide Patterns.Generation bar
*/

.generation-bar {
  margin: 0 auto;
  max-width: 640px;

  &.error {
    .form-control {
      border-color: $error !important;
      color: $error !important;
    }
  }

  .form-control,
  .input-group,
  .input-group-btn,
  .input-group-btn .btn {
    display: block;
    float: none;
    margin: 0;
    width: 100%;
  }

  .input-group-btn .btn {
    @include breakpoint($screen-sm) {
      width: auto;
    }
  }

  .input-group {
    @include breakpoint($screen-sm) {
      display: table;
    }
  }

  .form-control {
    border-color: $primary;
    border-radius: 3px 3px 0 0;
    height: auto;
    padding: 12px;

    &:first-child {
      border-radius: 3px 3px 0 0;
      @include breakpoint($screen-sm) {
        border-radius: 3px 0 0 3px;
      }
    }

    @include breakpoint($screen-sm) {
      border-radius: 3px 0 0 3px;
      display: table-cell;
      float: left;
    }
  }

  .input-group-btn {
    text-align: center;

    @include breakpoint($screen-sm) {
      display: table-cell;
      text-align: left;
      width: 1%;
    }

    .btn {
      border-radius: 0 0 3px 3px;
      padding: 13px;

      @include breakpoint($screen-sm) {
        border-radius: 0 3px 3px 0;
      }
    }
  }
}

/*
Generation bar small

markup: markup/generation-bar-small.hbs

Styleguide Patterns.Generation bar small
*/

.generation-bar {
  &.generation-bar-in-header,
  &.generation-bar-small {
    padding-top: 15px;

    .form-control {
      border-color: $border-color;
      height: 30px;
    }

    .input-group-btn {
      .btn {
        padding: 3px 13px;
        height: 30px;
      }
    }
  }
}

.generation-bar {
  &.generation-bar-small {
    .input-group-btn {
      .btn {
        box-shadow: inset 0 -2px 0 rgba($black, 0.2);

        &.btn-primary {
          color: $white;
        }
      }
    }
  }
}
