/*
Input Groups

Markup:
<form role="form">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">prefix</span>
      <input type="text" class="form-control">
      <span class="input-group-addon">sufix</span>
    </div>
  </div>
  <!-- with icon & text -->
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <svg class="icon icon-plus icon-xs fill-grey">
            <use xlink:href="{{{iconPath}}}#plus"></use>
          </svg>
          <span class="icon-text">text</span>
        </button>
      </span>
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <svg class="icon icon-plus icon-xs fill-grey">
            <use xlink:href="{{{iconPath}}}#plus"></use>
          </svg>
          <span class="icon-text">text</span>
        </button>
      </span>
    </div>
  </div>
  <!-- small -->
  <div class="form-group">
    <div class="input-group input-group-sm">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <svg class="icon icon-plus icon-xs fill-grey">
            <use xlink:href="{{{iconPath}}}#plus"></use>
          </svg>
          <span class="icon-text">text</span>
        </button>
      </span>
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <svg class="icon icon-plus icon-xs fill-grey">
            <use xlink:href="{{{iconPath}}}#plus"></use>
          </svg>
          <span class="icon-text">text</span>
        </button>
      </span>
    </div>
  </div>
</form>

Styleguide Patterns.Input-Groups
*/

.input-group {
  .input-group-addon {
    padding-top: 0;
    padding-bottom: 0;

    .icon {
      max-height: 18px;
    }
  }

  &.input-group-sm {
    .input-group-addon {
      padding-top: 0;
      padding-bottom: 0;

      .icon {
        margin-top: -5px;
        transform: translateY(2px);
        max-height: 16px;
      }
    }
  }

  .btn {
    .icon-text,
    .icon {
      line-height: 0;
      vertical-align: initial;
    }
  }

  .input-group-addon {
    @each $color, $colorValue in $colors {
      &.#{$color} {
        border-color: $colorValue;
        background-color: $colorValue;
      }
    }

    @each $color, $colorValue in $thirdPartyColors {
      &.#{$color} {
        border-color: $colorValue;
        background-color: $colorValue;
      }
    }

    @each $color, $colorValue in $marketingColors {
      &.#{$color} {
        border-color: $colorValue;
        background-color: $colorValue;
      }
    }
  }
}
