/*
Input groups

Markup: markup/input-groups.hbs

Styleguide Components.Forms.Input Groups
*/

.input-group {
  &.input-group-sm {
    .input-group-addon {
      .icon {
        margin-top: -5px;
        transform: translateY(2px);
        max-height: 22px;
      }
    }
  }

  .input-group-addon {
    @each $color, $colorValue in $colors {
      &.#{$color} {
        border-color: $colorValue;
        background-color: $colorValue;
      }
    }

    @each $color, $colorValue in $thirdPartyColors {
      &.#{$color} {
        border-color: $colorValue;
        background-color: $colorValue;
      }
    }
  }
}
