@charset "UTF-8";

/*
Marketing Checklist

Markup: markup/marketing-checklist-experts.hbs

Styleguide Patterns.Marketing Checklist
*/

$marketingContext: ('#content');

@each $context in $marketingContext {
  #{$context} {
    .marketing-checklist {
      padding-bottom: 5px;

      .marketing-checklist-header {

        .progress-container {
          padding: 0 0 30px 0;
          margin: 0;

          @include breakpoint($screen-sm) {
            float: left;
            margin-top: 30px;
            padding: 0;
          }
        }

        .progress {
          margin: 0;
          width: 160px;
        }

        .dropdown {
          float: right;
          margin-top: 23px;

          .btn {
            background-color: transparent;
            /* color: $primary; */
            color: #315D86; /*use old darker blue until review update*/
            text-decoration: none;
          }

          .filter-tag {
            padding-left: 5px;
          }

          .caret {
            margin-left: 5px;
          }

          .dropdown-menu {
            right: 0;
            left: auto;
            max-height: none;
            width: 190px;

            li {
              border: none;
            }

            html[lang=de] & {
              width: 200px;
            }
          }
        }
      }

      .marketing-checklist-title {
        border: none;
        margin: 0;
        padding: 30px 20px 30px 0;

        @include breakpoint($screen-sm) {
          float: left;
        }
      }

      .marketing-checklist-list,
      .marketing-checklist-list-alldone {
        clear: both;
        border-top: 1px solid $grey-light;

        .filtered-out {
          display: none;
        }
      }

      .marketing-checklist-list-alldone {
        padding: 20px 0;
        text-align: center;
      }

      .marketing-checklist-list.show-todo {
        .task-container.checked {
          display: none;
        }
      }

      .marketing-checklist-list.show-done {
        .task-container {
          display: none;
        }
        .task-container.checked {
          display: block;
        }
      }

      .marketing-checklist-item {
        background-color: $white;
        border-bottom: 1px solid $grey-light;
        color: $grey-dark;
        display: block;
        padding: 15px 10px;
        text-decoration: none !important;
        transition: background-color 300ms ease-out;

        &:focus,
        &:hover {
          background-color: $grey-lighter;
          transition: background-color 100ms ease-in;

          .icn-box {
            display: none;
          }

          .icn-box-check {
            display: block;
          }
        }
      }

      .marketing-checklist-item-header {
        border: none;
        font-size: 12px;
        line-height: 1.3;
        margin: 0;
        padding: 0 30px;
        position: relative;
      }

      .marketing-checklist-item-title {
        .label {
          margin-left: 5px;
        }
      }

      .task-container {
        padding: 0 10px;
        border-bottom: 1px solid $grey-light;

        &:hover {
          background-color: #f4f7f9;
        }

        &.open {
          background-color: #f4f7f9;

          .icn-plus {
            display: none;
          }

          .icn-minus {
            display: block;
          }

          .task-content {
            overflow: hidden;
            max-height: 1000px;
          }
        }

        &.checked {
          .icn-box {
            display: none;
          }

          .icn-box-check {
            display: inline-block;
          }

          .task-header {
            cursor: default;
          }
        }

        &.proccessing {
          opacity: .5;
          cursor: default !important;
          background-color: transparent !important;

          &:hover {
            background-color: transparent !important;
          }

          .icn-box-check,
          .icn-box,
          .icn-plus,
          .icn-minus {
            display: none !important;
          }

          .svg-loader {
            margin-bottom: -3px;
            display: block;
          }

          .task-content {
            max-height: 0 !important;
          }

          .task-header {
            text-decoration: line-through;
          }
        }

        &.removed {
          .svg-loader {
            display: none;
          }
        }

        .icn-plus {
          display: block;
        }

        .icn-box-check,
        .icn-minus,
        .svg-loader {
          display: none;
        }

      }

      .task-header {
        border-bottom: 0;
        cursor: pointer;
        font-size: 12px;
        font-weight: 400;
        line-height: 27px;
        margin: 0;
        padding: 12px 0;
        position: relative;

        .icn-plus,
        .icn-minus {
          color: $grey;
          max-height: 16px;
          position: absolute;
          right: 0;
          top: 19px;
          width: 16px;
        }

        .icn-plus {
          display: block;
        }

        .icn-minus {
          display: none;
        }

        .checker {
          color: $black;
          display: inline-block;
          margin-left: -7px;
          width: 26px;
          text-decoration: none;

          &:hover {
            .icn-box {
              display: none;
            }

            .icn-box-check {
              display: inline;
            }
          }

          .icn {
            margin-left: 7px;
          }
        }
      }

      .task-content {
        max-height: 0;
        overflow: hidden;
        padding: 0 30px;
        transition: max-height .4s;

        h4 {
          font-size: 1em;
          font-weight: 600;
          padding: 14px 0 10px;
        }

        ul {
          margin: 0;
          padding: 0 0 8px 12px;
        }

         li {
          padding: 0 0 8px 10px;
          display: list-item;
          list-style: disc;
        }

        .task-sumary,
        .task-text,
        .task-links {
          padding: 20px;

          @include breakpoint($screen-sm) {
            margin: 0;
            width: 50%;
          }
        }

        .task-links {
          clear: both;
        }

        .task-data {
          border-bottom: 1px solid $grey-lighter;
          padding: 2px 0 10px;

          .icns {
            display: inline-block;
            margin-right: 22px;
          }

          .icn {
            color: #92AABF;
          }

          .solvability-2,
          .importance-2,
          .solvability-1,
          .importance-1 {
            .icn:nth-child(3){
              color: #d7dadb;
            }
          }

          .solvability-1,
          .importance-1 {
            .icn:nth-child(2){
              color: #d7dadb;
            }
          }
        }

        .task-sumary {
          @include breakpoint($screen-sm) {
            border-right: 1px solid $grey-lighter;
            float: left;
            padding: 0 40px 40px 0;
            width: calc(50% + 1px);
          }
        }

        .task-text,
        .task-links {
          @include breakpoint($screen-sm) {
            border-left: 1px solid $grey-lighter;
            float: right;
            margin-left: -1px;
            padding: 0 12px 20px 40px;
          }
        }
      }

      .task-quicktip {
        display: none;

        @include breakpoint($screen-sm) {
          background-color: $white;
          border-radius: 5px;
          display: block;
          margin: 12px 0 0;
          padding: 12px;
          position: relative;

          span {
            display: block;
            padding: 0 0 0 44px;
          }

          .icn {
            color: #B7C6D5;
            font-size: 36px;
            line-height: 34px;
            padding: 0;
            position: absolute;
            top: calc(50% - 22px);
          }
        }
      }

      .popover {
        .btn {
          white-space: normal;
        }
      }
    }
  }
}
