/*
Modal

Markup:
<!-- style="display:block;position:relative;z-index:1000;" for this example -->
<div class="modal js-modal-genbar" id="modal-example" tabindex="-1" role="dialog" aria-hidden="true" style="display:block;position:relative;z-index:1000;">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" data-dismiss="modal" aria-hidden="true">
        <svg class="icon icon-cross">
          <use xlink:href="{{{iconPath}}}#cross"></use>
        </svg>
      </span>
      <p class="modal-title">Modal title</p>
    </div>
    <div class="modal-body">
      Modal body
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal">save</button>
      <button class="btn btn-default" data-dismiss="modal">cancel</button>
    </div>
  </div>
</div>

Styleguide Patterns.Modal
*/
.modal {
  .modal-header {
    .close {
      z-index: 1;
    }

    .icon-cross {
      height: 13px;
      width: 13px;
    }
  }
}
