/*
Navbar Flex

Markup:
<header class="-header -fixed -classic" role="navigation">
  <div class="container-fluid">
    <div class="-main">
      <a class="-back -circle" role="button">
        <svg class="icon">
          <use xlink:href="{{{iconPath}}}#arrow-left"></use>
        </svg>
      </a>
      <a class="-logo" role="button">
        <svg class="icon icon-logo">
          <use xlink:href="{{{iconPath}}}#logo"></use>
        </svg>
      </a>
      <a class="-circle" role="button">
        <svg class="icon icon-glyph">
          <use xlink:href="{{{iconPath}}}#logo-glyph"></use>
        </svg>
      </a>
      <nav class="-navigation">
        <ul class="-list">
          <li class="-item">
            <a class="-link" role="button">
              Features
            </a>
          </li>
          <li class="-item">
            <a class="-link" role="button">
              Pricing
            </a>
          </li>
        </ul>
      </nav>
      <nav class="-navigation">
        <ul class="-list">
          <li class="-item">
            <a class="-btn" role="button">
              <svg class="icon">
                <use xlink:href="{{{iconPath}}}#help"></use>
              </svg>
            </a>
          </li>
          <li class="-item dropdown">
            <a class="-btn dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <svg class="icon icon-user fill-grey-medium">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="assets/svg/symbols.svg#user"></use>
              </svg>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a>
                  User Action 1
                </a>
              </li>
              <li>
                <a>
                  User Action 2
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="generation-bar-in-header-container">
          <form class="generation-bar ajax-generate-report generate-form generation-bar-in-header js-generation-bar-in-header" id="generation-bar-in-header" action="/en/report/generate" method="post" novalidate="">
            <div class="input-group">
              <div class="input-container">
                <input type="url" class="form-control required js-validate-review-url" name="url" value="" placeholder="Website URL to review" id="generation-bar-in-header-input" tabindex="1">
              </div>
              <div class="input-group-btn">
                <button class="btn generation-bar-btn btn-primary"
                  id="generation-bar-in-header-submit"
                  name="generate"
                  value="premium"
                  type="submit"
                  tabindex="2">
                  <span class="ready">Review</span>
                  <span class="wait">Reviewing...</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </nav>
      <div class="-actions -right">
        <div class="-ctas">
          <a class="btn btn-default" role="button">
            Login
          </a>
          <a class="-link btn btn-warning" role="button">
            Free Trial
          </a>
          <ul class="-list">
            <li class="-item dropdown">
              <a class="-btn dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                English
                <svg class="icon icon-chevron-down">
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="assets/svg/symbols.svg#chevron-down"></use>
                </svg>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a>Español</a></li>
                <li><a>Français</a></li>
                <li><a>Deutsch</a></li>
                <li><a>Português</a></li>
                <li><a>Nederlands</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<svg class="icon icon-logo">
  <use xlink:href="{{{iconPath}}}#logo"></use>
</svg>

Styleguide Patterns.NavbarFlex
*/

.-header {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  max-height: 60px;
  transition: all .35s cubic-bezier(.165, .84, .44, 1);
  .icon {
    transition: all .35s cubic-bezier(.165, .84, .44, 1);
  }

  ul{ // Reset
    padding-left: 12px;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
      }
    }
  }
}

.-logo {
  height: 32px; // Extra pixels from the K in WooRank
  padding: 0 12px;
  .icon {
    height: 20px;
    width: 110px;
  }
  &:focus,
  &:active,
  &:hover {
    .icon {
      fill: $primary;
    }
  }
}

.-actions,
.-navigation {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}

.-right {
  justify-content: flex-end;
  margin-left: 24px;
}

.-left {
  justify-content: flex-start;
  margin-right: 24px;
}

.-main {
  .-circle {
    width: 40px;
    height: 40px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    transition: all .35s cubic-bezier(.165, .84, .44, 1);
    padding: 8px;
    border-radius: 50%;

    &:focus,
    &:active,
    &:hover {
      background-color: $grey-lighter;
    }
  }
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  .-navigation {
    max-width: 100%;
    opacity: 1;
    transition: opacity .35s cubic-bezier(.165, .84, .44, 1),max-width .5s cubic-bezier(.165, .84, .44, 1);
  }

  .-list {
    list-style: none;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-bottom: 0px;
    .-item {
      a {
        text-decoration: none;
        color: $grey-darker;
      }
      align-items: center;
      line-height: 60px;
      transition: all .35s cubic-bezier(.165, .84, .44, 1);
      .-link {
        display: inline-block;
        padding: 0 12px;
        line-height: 60px;
        background-color: transparent;
        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
          background-color: $grey-smoke;
          color: $grey-darker;
        }
      }
      .-btn {
        position: relative;
        display: block;
        padding: 0 12px;
        overflow: hidden;
        transition: all .1s linear;
      }
    }
  }
}

.-header {
  &.-fixed {
    position: fixed;
    min-width: auto;
  }
  box-shadow: 0 1px 0 rgba(12,13,14,0.15), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1090px;
  z-index: 1050;
  background-color: #fafafb;
  transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
  height: 60px;
  box-sizing: border-box;
  .-container {
    max-width: 1060px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
    box-sizing: content-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
  }
}

.-header {
  &.-classic {
    background-color: $white;
  }
  &.-dark {
    background-color: $grey-darker;

    .-item {
      a {
        text-decoration: none;
        color: $white;
      }
    }
    .icon {
      fill: $white;
    }
  }
}
