/*
Navbar

Markup:
<nav class="navbar" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle navbar-toggle-left" data-target="#header-navigation">menu<span class="caret"></span></button>
      <a class="navbar-brand" href="https://www.woorank.com">
        <svg class="icon icon-logo"><use xlink:href="{{{iconPath}}}#logo"></use></svg>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="header-navigation">
      <ul class="nav navbar-nav">
        <li><a href="#">Link</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="logged-container">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle" role="button" aria-expanded="false">
            info@woorank.com
            <svg class="icon icon-xs chevron-down">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{{iconPath}}}#chevron-down"></use>
            </svg>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">Upgrade / Downgrade</a>
            </li>
            <li>
              <a href="#">My account</a>
            </li>
            <li>
              <a href="#">Edit PDF Templates</a>
            </li>
            <li>
              <a href="#">Logout</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
            English  <svg class="icon icon-xs chevron-down">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{{iconPath}}}#chevron-down"></use>
            </svg>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">Español</a>
              <a href="#">Français</a>
              <a href="#">Deutsch</a>
              <a href="#">Português</a>
              <a href="#">Nederlands</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

Styleguide Patterns.Navbar
*/

.navbar {
  background-color: $white;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  position: static;
  border-bottom: 1px solid $border-color;

  &.navbar-fixed-top {
    position: fixed;
    top: 0;
  }

  .icon-chevron-down {
    margin-left: 5px;
    fill: $grey-medium;
    stroke: $grey-medium;
  }

  .icon-email {
    margin-bottom: -5px;
    margin-top: -3px;
  }

  .dropdown-menu {
    font-size: 13px;
    min-width: 190px;
    max-height: none;
  }

  .menu {
    position: relative;
    top: 5px;
  }
}

.navbar-nav {
  li {
    margin-bottom: 0;

    &.active {
      a {
        font-weight: $font-weight-medium;
      }
    }

    a {
      color: $grey-medium;
      font-size: 13px;

      .icon {
        fill: $grey;
        stroke: $grey;

        &.icon-email {
          fill: $grey-smoke;
          stroke: $grey-smoke;
        }
      }

      &:hover,
      &:focus {
        .icon {
          fill: $grey;
          stroke: $grey;

          &.icon-email {
            fill: $white;
            stroke: $white;
          }
        }
      }
    }
  }
}

.navbar-header {
  text-align: center;
  position: relative;
  vertical-align: middle;
}

.navbar-brand {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  line-height: 20px;
  float: none;

  .icon-logo {
    height: 20px;
    width: 110px;
  }

  @include breakpoint($screen-sm) {
    max-width: 125px;
    margin-right: 1em;
    float: left;
  }
}

/* Align logo with page content */
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  @include breakpoint($screen-sm) {
    margin-left: 0;
  }
}

.navbar-toggle,
.navbar-toggle-like {
  border: none;
  background: none;
  margin: 0;
  line-height: 0;
  padding: 10px 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;

  &.navbar-toggle-left {
    left: 0;
  }
}

.navbar-nav {
  li {
    margin-bottom: 0;

    a {
      color: $grey-medium;
      font-size: 13px;

      &:hover,
      &:focus {
        .navbar-icon-email {
          fill: $white;
          stroke: $white;
        }
      }
    }
  }

  .dropdown-menu li a {
    color: $grey-darker;
  }
}

.navbar-btn {
  @include breakpoint($screen-sm, $reverse: true) {
    width: 95%;
  }
}

.navbar-collapse {
  @include breakpoint($screen-sm - 1, $reverse: true) {
    -webkit-backface-visibility: hidden;
    @include box-shadow(inset 0 -1px 1px $black);
    @include transition(all 350ms ease-out);
    background-color: $grey-dark;
    bottom: 0;
    display: block;
    height: 100% !important;
    margin: 0 !important;
    overflow: scroll;
    padding: 0;
    position: fixed;
    left: -($mobile-nav-size);
    top: 0;
    visibility: hidden;
    width: $mobile-nav-size;
    z-index: 10000;

    &.in,
    &.collapsing {
      visibility: visible;
    }

    .navbar-nav {
      margin: 0 0 -20px 0;
      padding: 13px 0;

      .dropdown-menu {
        padding: 0;
      }

      .dropdown-menu li a,
      li a {
        padding: 15px;
      }

      a,
      .dropdown a {
        background-color: transparent;
        border-bottom: 1px solid darken($grey-dark, 5%);
        color: $white;
        font-size: 14px;
        font-weight: $font-weight-normal;
        line-height: 1.6;

        &:hover,
        &:focus,
        &.open {
          background-color: darken($grey-dark, 5%);
          border-color: darken($grey-dark, 5%);
          color: $white;

          .icon {
            fill: $white;
            stroke: $white;
          }
        }
      }
    }
  }
}

/* genbar impact in navbar */
.navbar {
  .navbar-collapse {
    transition: none !important;

    &.collapse.in,
    &.collapsing {
      .generation-bar-in-header-container {
        display: none !important;
        visibility: hidden !important;
      }
    }
  }
}

/* navbar in mobile view */
.navbar.genbar-mobile-style {
  .toggle-genbar {
    .icon-add {
      fill: $primary;
      stroke: $primary;
    }
  }

  .navbar-collapse,
  .navbar-nav {
    overflow: visible;
    position: static;
    padding: 1px 0 0;
    margin: 0 -15px;
    width: auto;
  }
}

.navbar {
  .navbar-collapse {
    .btn-sm {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.navbar-text.small {
  margin-bottom: 20px;
  margin-top: 20px;
}
