/*
Navbar Flex

Markup:
<header class="-header">
  <div class="container-fluid">
    <div class="-main">
      <nav class="-navigation">
      </nav>
    </div>
  </div>
</header>

<nav class="navbar" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <svg class="icon icon-logo">
          <use xlink:href="{{{iconPath}}}#logo"></use>
        </svg>
      </a>
      <button
        type="button"
        class="navbar-toggle navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#top-nav-collapse">
        <svg class="icon icon-menu" role="img">
          <use xlink:href="{{iconPath}}#menu"></use>
        </svg>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a role="button">
            Link
          </a>
        </li>
        <li>
          <a class="navbar-btn btn-primary">
            navbar-btn btn-primary
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" role="button" aria-expanded="false">
            <svg class="icon icon-user fill-grey-medium">
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="{{{iconPath}}}#user"></use>
            </svg>
            <svg class="icon icon-chevron-down">
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="{{{iconPath}}}#chevron-down">
              </use>
            </svg>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a>
                User Action 1
              </a>
            </li>
            <li>
              <a>
                User Action 2
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button">
            Dropdown
            <svg class="icon icon-chevron-down">
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="{{{iconPath}}}#chevron-down">
              </use>
            </svg>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a>
                Dropdown 1
              </a>
              <a>
                Dropdown 2
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

Styleguide Patterns.Navbar
*/

body.navbar-open {
  transform: translateX($mobile-nav-size);
  overflow: hidden;
  .overlay {
    display: block;
    background-color: rgba(0,0,0,.1);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: $zindex-navbar-fixed - 1;
  display: none;
  background-color: $black;
  @include transition(background-color .15s ease-out 0s);
}

.navbar {
  .navbar-header {
    text-align: center;
    position: relative;
    vertical-align: middle;
  }
  background-color: $white;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  position: static;
  @include transition(all .5s linear);
  max-height: 60px;
  &:after {
    content: '';
    display: table;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -5px;
    width: 100%;
    height: 5px;
    @include box-shadow(inset 0px 2px 6px -3px rgba(0, 0, 0, 0.4));
  }

  &.navbar-fixed-top {
    position: fixed;
    top: 0;
    z-index: $zindex-navbar-fixed;
  }

  .dropdown-menu {
    font-size: $font-size-small;
    min-width: 190px;
    max-height: none;
    li a {
      color: $grey-darker;
    }
  }
}

.dropdown {
  .icon-chevron-down {
    margin-left: 5px;
    @include transition(all .1s linear);
    transform: rotate(0deg);
  }
  &.open {
    .icon-chevron-down {
      transform: rotate(180deg);
    }
  }
}

.navbar-nav {
  li {
    margin-bottom: 0;
    a {
      color: $grey-darker;
      font-size: $font-size-small;
      &.navbar-btn {
        @extend .btn;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 10px;
        box-shadow: none; // Avoid navbar-btn shadow
        @include breakpoint($screen-sm, $reverse: true) {
          width: 92%;
          margin: 10px 10px 0 10px;
        }
        &.btn-default {
          @include breakpoint($screen-sm) {
            padding-top: 4px;
            padding-bottom: 4px;
            border-color: $grey;
          }
        }
      }
    }

    &.active {
      a {
        font-weight: $font-weight-medium;
      }
    }
  }
}

.navbar-brand {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  line-height: 20px;
  float: none;

  @include breakpoint($screen-sm) {
    max-width: 125px;
    margin-right: 1em;
    float: left;
  }

  .icon-logo {
    height: 20px;
    width: 110px;
  }
}

.navbar-toggle,
.navbar-toggle-like {
  position: absolute;
  top: 50%;
  left: 0;
  right: auto;
  transform: translateY(-50%);
  backface-visibility: hidden;

  line-height: 0;
  margin: 0 0 0 15px;
  overflow: hidden;

  background: none;
  border: none;
  border-radius: 50%;

  .icon-menu {
    @include transition(all .1s linear);
    transform: rotate(-90deg);
  }

  &.collapsed {
    .icon-menu {
      transform: rotate(0deg);
    }
  }

  &:hover,
  &:focus,
  &:active {
    background: $grey-smoke;
  }
}

.navbar-collapse {
  @include breakpoint($screen-sm - 1, $reverse: true) {
    @include box-shadow(inset 0 -1px 1px $black);
    @include transition(all 350ms ease-out);
    backface-visibility: hidden;
    background-color: $grey-dark;
    bottom: 0;
    display: block;
    height: 100% !important;
    margin: 0 !important;
    overflow: scroll;
    padding: 0;
    position: fixed;
    left: -($mobile-nav-size);
    top: 0;
    visibility: hidden;
    width: $mobile-nav-size;
    z-index: $zindex-navbar-fixed;

    &.in,
    &.collapsing {
      visibility: visible;
    }

    .navbar-nav {
      margin: 0;

      .dropdown-menu {
        padding: 0;
      }

      .dropdown-menu li a,
      li a {
        padding: 18px;
        .icon {
          fill: $white;
        }
      }

      a,
      .dropdown a {
        background-color: transparent;
        border-bottom: 1px solid darken($grey-dark, 5%);
        color: $white;
        font-size: 14px;
        font-weight: $font-weight-normal;
        line-height: 1.6;

        &:hover,
        &:focus,
        &.open {
          background-color: darken($grey-dark, 5%);
          border-color: darken($grey-dark, 5%);
          color: $white;
        }
      }
    }
  }
}

/* genbar impact in navbar */
.navbar {
  .navbar-collapse {
    @include transition(none !important);

    &.collapse.in,
    &.collapsing {
      .generation-bar-in-header-container {
        display: none !important;
        visibility: hidden !important;
      }
    }
  }
}

/* navbar in mobile view */
.navbar.genbar-mobile-style {
  .toggle-genbar {
    .icon-add {
      fill: $primary;
      stroke: $primary;
    }
  }

  .navbar-collapse,
  .navbar-nav {
    overflow: visible;
    position: static;
    padding: 1px 0 0;
    margin: 0 -15px;
    width: auto;
  }
}
