/*
Tool Interactive

For a help tour

Markup:
<div class="tooltip right tooltip-interactive tooltip-with-dot tooltip-white" role="tooltip" style="margin-bottom:30px;">
  <div class="tooltip-arrow"></div>
  <div class="tooltip-inner">
    <button class="btn btn-default tooltip-right-btn">
      <svg class="icon chevron-right">
        <use xlink:href="#chevron-right"></use>
      </svg>
      <span class="tooltip-info-btn">20/30</span>
    </button>
    <span class="dot dot-xxl dot-primary">20</span>
    <h6 class="tooltip-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum vero repudiandae aut officiis quaerat modi est, molestiae magni necessitatibus molestias. Tempore dignissimos nemo error rerum ut iusto quas numquam id.</p>
  </div>
</div>
<div class="tooltip right tooltip-interactive tooltip-with-dot tooltip-default" role="tooltip" style="margin-bottom:30px;">
  <div class="tooltip-arrow"></div>
  <div class="tooltip-inner">
    <button class="btn btn-black tooltip-right-btn">
      <svg class="icon chevron-right">
        <use xlink:href="#chevron-right"></use>
      </svg>
      <span class="tooltip-info-btn">20/30</span>
    </button>
    <span class="dot dot-xxl dot-error">20</span>
    <h6 class="tooltip-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum vero repudiandae aut officiis quaerat modi est, molestiae magni necessitatibus molestias. Tempore dignissimos nemo error rerum ut iusto quas numquam id.</p>
  </div>
</div>
<div class="tooltip right tooltip-interactive tooltip-with-dot tooltip-primary" role="tooltip">
  <div class="tooltip-arrow"></div>
  <div class="tooltip-inner">
    <button class="btn btn-primary tooltip-right-btn">
      <svg class="icon chevron-right">
        <use xlink:href="#chevron-right"></use>
      </svg>
      <span class="tooltip-info-btn">20/30</span>
    </button>
    <span class="dot dot-xxl dot-warning active">20</span>
    <h6 class="tooltip-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum vero repudiandae aut officiis quaerat modi est, molestiae magni necessitatibus molestias. Tempore dignissimos nemo error rerum ut iusto quas numquam id.</p>
  </div>
</div>

Styleguide Patterns.Tool-Interactive
*/

.tooltip-interactive {
  opacity: 1;
  position: relative;
  vertical-align: top;
  width: 100%;

  &.tooltip-with-dot {
    .tooltip-inner {
      padding-left: 70px;
    }

    .dot {
      position: absolute;
      top: 30px;
      left: 30px;
    }
  }

  &.tooltip-white {
    .tooltip-title {
      color: $grey-dark;
    }
  }

  .tooltip-inner {
    padding: 30px 20% 30px 30px;
    text-align: left;
    max-width: none;
  }

  .tooltip-right-btn {
    border-radius: 0 $border-radius-base $border-radius-base 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 20%;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    .tooltip-info-btn {
      display: inline-block;
      vertical-align: bottom;
      font-size: $font-size-small;
      margin: 0 -5px;
    }

    .icon {
      fill: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    &.btn-default .icon {
      fill: $primary;
    }
  }

  p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
