@charset "UTF-8";
/*
All Icons

Markup: markup/icons.hbs

bullet-plain   - plain bullet
bullet-info    - info bullet
bullet-success - success bullet
bullet-warning - warning bullet
bullet-danger  - danger bullet
arrow-up       - Arrow up
chevron-right  - Chevron right
checked        - Checkbox checked
folder         - Opened Folder
hashtag        - Hash Tag
links          - Links
local          - Localisation
mobile         - Mobile
search         - Search
social         - Social
technologies   - Technologies
time           - Time
usability      - Usability
visitor        - Visitor

Styleguide Icons.All Icons
*/

/*
Icons Sizes

Markup: markup/icon-example.hbs

icon-xxs - extra-extra small
icon-xs  - extra small
icon-normal - normal
icon-sm  - small
icon-md  - medium
icon-lg  - large

Styleguide Icons.Icons Sizes
*/
.icon {
  background-image: none;
  height: 20px;
  width: 20px;

  &.icon-normal {
    height: 20px;
    width: 20px;
  }

  &.icon-xxs {
    height: 5px;
    width: 5px;
  }

  &.icon-xs {
    height: 10px;
    width: 10px;
  }

  &.icon-sm {
    height: 30px;
    width: 30px;
  }

  &.icon-md {
    height: 60px;
    width: 60px;
  }

  &.icon-lg {
    height: 90px;
    width: 90px;
  }

  &.icon-hidden {
    display: none;
  }

  &.icon-email {
  	height: 25px;
  	width: 25px;
  }

  &.icon-logo {
    height: 20px;
    width: 110px;
  }
}

/*
Logo

Markup: markup/logo.hbs

Styleguide Icons.Logo
*/
