/*
Icons Sizes

Markup:
<svg class="icon icon-logo-glyph {{modifier_class}}" data-toggle="tooltip" title="#{{modifier_class}}">
  <use xlink:href="{{{iconPath}}}#logo-glyph"></use>
</svg>

icon-xs      - Xs
icon-sm      - Sm
icon-md      - Md
icon-normal  - Normal
icon-lg      - Lg
icon-2x      - 2x
icon-3x      - 3x

Weight: 6

Styleguide Icons.Icons-Sizes
*/

$iconsSizes:
  ('xs', 16),
  ('sm', 20),
  ('md', 24),
  ('normal', 32),
  ('lg', 48),
  ('2x', 64),
  ('3x', 128);

.icon {
  background-image: none;
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  width: 24px;

  @each $name, $size in $iconsSizes {
    &.icon-#{$name} {
      height: ($size + px);
      width: ($size + px);
    }
  }

  &.icon-hidden {
    display: none;
  }
}

.icon-text {
  margin-left: 6px;
  vertical-align: middle;
}

.icon-hover {
  transition: 200ms;
  transition-timing-function: ease-in;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  &:hover{
    transform: scale(1.3, 1.3);
    fill: $primary;
    stroke: $primary;
  }
}
