/*
Commons Icons

Markup: markup/icons.hbs

add-file          - Add file
add-user          - Add user
arrow-up          - Arrow up
arrow-down        - Arrow down
arrow-left        - Arrow left
arrow-right       - Arrow Right
bell              - Bell
blank             - Blank point
box               - Empty Check Box
box-check         - Checked Box
bullet-arrow-down - Circle with a arrow down
check             - Check
chevron-down      - Chevron down
chevron-left      - Chevron left
chevron-right     - Chevron right
chevron-up        - Chevron up
clock             - Clock
conversation      - Chat bubble
cross             - Cross
email             - Email
file              - File
folder            - Folder
gear              - Gear
graph             - Graph
hashtag           - Hash Tag
home              - Home
help              - Help
impact            - Impact
information       - Information
link              - Link (rounded flat)
links             - Links
loader            - Spin loader
local             - Localisation
lock              - Lock
menu              - Menu
minus             - Minus sign
mobile            - Mobile
options           - Options
out               - Share/go outside
pie               - Pie graph
plus              - Plus sign
reload            - Reload
search            - Search
star-empty        - Empty Star
star              - Star
tags              - Tags
triangle-down     - Triangle Down
triangle-up       - Triangle Up

Weight: 1

Styleguide Icons.Commons Icons
*/

/*
Icons Technologies

Markup: markup/icons.hbs

backlinks        - Backlinks
local_visibility - Local visibility
mobile           - Mobile
pj_serp          - SERP
seo              - SEO
social           - Social
technologies     - Technologies
usability        - Usability
visitors         - visitors

Weight: 2

Styleguide Icons.Icons Technologies
*/

/*
Icons Contextuals

Markup: markup/icon-contextual.hbs

checklist     - Checklist
clipboard     - Clipboard
extension     - Extension
pencil        - Pencil
say-hi        - Say Hi
sign-flag     - Sign Flag
sign-settings - Sign Settings
sign-star     - Sign Star
sign-stop     - Sign Stop
sign-success  - Sign Success
test          - Test

Weight: 3

Styleguide Icons.Icons Contextuals
*/

/*
Icons Third Party

Markup: markup/icons.hbs

facebook              - Facebook
foursquare            - Foursquare
google                - Google
google-analytics      - Google Analytics
googleplus            - Google+
google-webmaster-tool - Google Webmaster Tool
linkedin              - Linked In
twitter               - Twitter
yelp                  - Yelp

Weight: 4

Styleguide Icons.Icons Third Party
*/

/*
Icons Sizes

Markup: markup/icon-example.hbs

icon-xxs     - Xxs
icon-xs      - Xs
icon-small   - Small
icon-favicon - Favicon
icon-normal  - Normal
icon-medium  - Medium
icon-sm      - Sm
icon-md      - Md
icon-lg      - Lg
icon-xxl     - Xxl

Weight: 5

Styleguide Icons.Icons Sizes
*/

$iconsSizes:
  ('xxs', 5),
  ('xs' , 10),
  ('small', 13),
  ('favicon', 16),
  ('normal', 20),
  ('medium', 25),
  ('sm', 30),
  ('md', 60),
  ('lg', 90),
  ('xxl', 120);

.icon {
  background-image: none;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 20px;

  @each $name, $size in $iconsSizes {
    &.icon-#{$name} {
      height: ($size + px);
      width: ($size + px);
    }
  }

  &.icon-hidden {
    display: none;
  }
}

.icon-text {
  margin-left: 6px;
  vertical-align: middle;
}

/*
Logos

Markup: markup/logo.hbs

logo            - Woorank Logo
woorank-blog    - Woorank Blog Logo
woorank-experts - Woorank Expert Logo
woorank-index   - Woorank Index Logo

Weight: 6

Styleguide Icons.Logos
*/


/*
Logos Uni-color

Markup: markup/logo.hbs

logo-nocolor            - Uncolored Woorank Logo
woorank-blog-nocolor    - Woorank Blog Logo
woorank-experts-nocolor - Woorank Expert Logo
woorank-index-nocolor   - Woorank Index Logo

Weight: 7

Styleguide Icons.Logos Uni-color
*/

/*
Glyph Icon

Markup: markup/icons.hbs

logo-glyph         - Colored Woorank Logo Glyph
logo-glyph-nocolor - Uncolored Woorank Logo Glyph

Weight: 8

Styleguide Icons.Glyph Icon
*/
